<nz-layout > 
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado de Marcas</nz-page-header-title>
    <nz-page-header-extra>
     
        <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary" nzShape="circle" (click)="openComponentBrandEdit()">
          <i nz-icon nzType="plus"
            nzTheme="outline">
          </i></button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content>
      <!-- Busqueda -->
      <nz-collapse>
        <nz-collapse-panel nzSize="small" nzHeader="Filtros">
            <div nz-row [nzGutter]="[8,1]">
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>Búsqueda</nz-form-label>
                  <nz-form-control>                  
                    <nz-input-group [nzSuffix]="clearQuery">
                      <input [ngModelOptions]="{standalone: true}" type="text" placeholder="Ingrese Marca" nz-input
                        (keydown.enter)="search()" [(ngModel)]="queryData.filter" >
                    </nz-input-group>
                    
                    <ng-template #clearQuery>
                      <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                        *ngIf="queryData.filter" (click)="queryData.filter = ''; search()"></i>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
        </nz-collapse-panel>
      </nz-collapse> 

    <!-- Tabla --> 

    <div class="shadow"    
     (scroll)="onScroll($event)">  
       <nz-table class="brand-table"  [nzData]="brandList" nzBordered=false  [nzLoading]="loading" 
        [nzSize]="'small'" nzShowPagination="false" [nzScroll]="{ x: '500px' }"> 
        <thead>
          <tr>
            <th style="width: 380px">#</th>
            <th> Marca</th>
          </tr>
        </thead> 
        <tbody > 
          <tr  *ngFor="let brand of brandList ; let i = index " class="small-text" tabindex="-1" (click)="onClick(brand, i)" (keydown)="myNavegation($event) "
          [style.background-color]="brand === selectedBrand ? 'lightblue' : ''" (dblclick)="onDoubleClicked(brand)" >            
          <td>{{brand.id }}</td>
          <td>{{brand.description}}</td>
          </tr> 
        </tbody>
      </nz-table>
    </div> 
  </nz-content>
 </nz-layout> 