<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado de Marcas</nz-page-header-title>
    <nz-page-header-extra>
      <button
        *authPermission="[permissions.CreateBrand, permissions.EditBrand]"
        nz-tooltip
        nzTooltipTitle="Nuevo"
        nz-button
        nzType="primary"
        nzShape="circle"
        (click)="openComponentBrandEdit()"
      >
        <i nz-icon nzType="plus" nzTheme="outline"> </i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content>
    <!-- Busqueda -->
    
    <app-search-filter [title]="'Filtros'" [(model)]="queryData.filter" (keydown.enter)="search()" [palceHolder]="'Ingrese marca'" (onSearchClick)="search()"></app-search-filter>

    <!-- Tabla -->

    <div class="table" (scroll)="onScroll($event)">
      <nz-table
        class="tabla"
        [nzData]="brandList"
        nzBordered="true"
        [nzLoading]="loading"
        [nzSize]="'small'"
        nzShowPagination="false"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzEllipsis nzWidth="380px">#</th>
            <th nzEllipsis nzWidth="380px">Marca</th>
            <th nzEllipsis nzWidth="45px" style="text-align: center;" *authPermission="[permissions.DeleteBrand]">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            id="{{ i }}"
            *ngFor="let brand of brandList; let i = index"
            class="small-text"
            tabindex="-1"
            (click)="onClick(brand, i)"
            (keydown)="myNavegation($event)"
            [style.background-color]="
              brand === selectedBrand ? 'lightblue' : ''
            "
            (dblclick)="onDoubleClicked(brand)"
            (keydown.enter)="onEnter($event)"
          >
            <td nzEllipsis>{{ brand.id }}</td>
            <td nzEllipsis>{{ brand.description}}</td>
            <td style="text-align: center;" *authPermission="[permissions.DeleteBrand]">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                </ng-template>                
                <a *nzSpaceItem (click)="popup.showDeleteConfirmation(brand.id)">
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'"></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>
<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro de que desea eliminar la marca seleccionada?'"
  [message]="'Esta acción no se puede revertir'" (handleOk)="handleOk()">
</app-popup-confirmation>