<!-- <div class="sticky"> -->
  <nz-page-header class="sticky">
    <nz-page-header-title><i nz-icon [nzType]="iconTitle" style="padding-right: 5px;"></i>{{title}}</nz-page-header-title>
    <nz-page-header-extra>
      <!-- <div class="buttons-save" style="padding-left: 25px;"> -->
        <button *ngIf="!hideDelete" nz-button nzDanger [nzLoading]="showSpinner" (click)="onDeleteClick?.emit($event)"><i nz-icon
            [nzType]="iconDelete"></i>{{btnDeleteText}}</button>
      <!-- </div> -->
      <!-- <div class="buttons-save"> -->
        <button *ngIf="!hideBack" nz-button nzType="default" [disabled]="showSpinner" (click)="goBack()"><i nz-icon
            [nzType]="iconBack"></i>{{btnCancelText}}</button>
      <!-- </div> -->
      <!-- <div class="buttons-save"> -->
        <button nz-button nzType="primary" [nzLoading]="showSpinner" (click)="onSaveClick?.emit($event)"><i nz-icon
            [nzType]="iconSave"></i>{{btnSaveText}}</button>
      <!-- </div> -->
    </nz-page-header-extra>
  </nz-page-header>


<!-- </div> -->
