<nz-layout>
    <nz-page-header class="list-header">
      <nz-page-header-title>Listado Nota de Débito</nz-page-header-title>
      <nz-page-header-extra>
        <button
        nz-tooltip
        nzTooltipTitle="Nuevo"
        nz-button
        nzType="primary"
        nzShape="circle"
        routerLink="/notes/debit"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="table" >
        <nz-table
          class="tabla"
          nzShowSizeChanger
          nzBordered="false"
          [nzSize]="'small'"
          [nzLoading]="loading"
          [nzPaginationType]="'small'"
          nzShowPagination="false"
        >
          <thead>
            <tr>
              <th>Número</th>
              <th>Fecha</th>
              <th>Cuit</th>
              <th>Nombre</th>
              <th [nzAlign]="'center'">Total</th>
              <th [nzAlign]="'center'">Tipo</th>
              <th [nzAlign]="'center'">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="small-text"
              tabindex="-1"
            >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td [nzAlign]="'right'">
                <b></b>
              </td>
              <td [nzAlign]="'center'"></td>
            </tr>
          </tbody>
        </nz-table>
      </div>
</nz-layout>