<app-header-op-buttons
  #header
  [btnCancelText]="'Volver'"
  [hideSave]="true"
  [hideTag]="false"
  [tagText]="'Factura de compra'"
  [color]="'green'"
  [title]="'Refrigeraciones Dante'"
  [iconBack]="'rollback'"
  [iconUpdate]="'check'"
>
</app-header-op-buttons>

<!-- Encabezado de la Factura -->
<form nz-form [formGroup]="formReceipt">
  <nz-collapse>
    <nz-collapse-panel
      nzHeader="Encabezado"
      [nzActive]="true"
      [nzShowArrow]="true"
    >
      <nz-content>
        <div nz-row nzJustify="center">
          <div nz-col class="gutter-row" [nzSpan]="4" style="margin-right: 5px; margin-left: 15px;">
            <nz-form-item>
              <nz-form-label nzRequired>Fecha</nz-form-label>
              <nz-form-control>
                <nz-date-picker
                  nzFormat="dd/MM/yyyy"
                  [nzDisabledDate]="disabledDate"
                  [nzPlaceHolder]="'Elige una fecha'"
                  formControlName="dateTime"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" style="margin-right: 14px">
            <nz-form-item>
              <nz-form-label nzRequired>Tipo de Factura</nz-form-label>
              <nz-form-control>
                <nz-select
                  id="type"
                  formControlName="type"
                  [nzOptions]="type"
                  (ngModelChange)="typeSelectedChange($event)"
                >
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="8">
            <nz-form-item>
              <nz-form-label nzRequired>Nro</nz-form-label>
              <nz-form-control>
                <input
                  formControlName="receiptNumber"
                  nz-input
                  maxlength="250"
                  nzSize="small"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <!-- Datos del Cliente -->
        <nz-divider
          nzText="Proveedor"
          nzOrientation="left"
          style="margin-top: 0"
        ></nz-divider>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="supplierCuit"
            >Cuit - Cuil
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="14" [nzErrorTip]="cuit">
            <input
              formControlName="supplierCuit"
              nz-input
              maxlength="250"
              nzSize="small"
              (keydown.enter)="searchSupplier(); $event.preventDefault()"
            />
          </nz-form-control>
          <ng-template #cuit let-control>
            <ng-container *ngIf="control.hasError('required')"> 
              Debe ingresar un cuit valido.
            </ng-container>
            <ng-container *ngIf="!control.hasError('required') && control.hasError('pattern')"> 
              El cuit ingresado debe tener 11 caracteres numericos.
            </ng-container>
          </ng-template>
          <!-- Boton que abre el buscador de CLiente en drawer -->
          <form nz-form [formGroup]="formSupplierSearch">
            <div style="margin: 3px">
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="openComponentSupplier()"
                class="ml-5"
              >
                <i nz-icon nzType="search" nzTheme="outline"></i>Buscar
              </button>
            </div>
          </form>
        </nz-form-item>
        <nz-form-item *ngIf="typeSelectedId == 2">
          <nz-form-label [nzSm]="6" [nzXs]="14" nzFor="customerDni" 
             >Dni
           </nz-form-label>
           <nz-form-control [nzSm]="14" [nzXs]="14">
           <input
             nz-input
             maxlength="8"
             nzSize="small"
             formControlName="supplierDni"
             />
           </nz-form-control>
             <nz-switch style="margin-left: 5px;" (click)="select()"
              nzCheckedChildren="seleccionado" nzUnCheckedChildren="No seleccionado" 
           ></nz-switch>
     </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="supplierName"
            >Razón Social - Nombre
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input
              formControlName="supplierName"
              nz-input
              maxlength="250"
              nzSize="small"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzRequired
            nzFor="supplierAddress"
            >Domicilio
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input
              formControlName="supplierAddress"
              nz-input
              nzSize="small"
              maxlength="250"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Buscador de Productos -->
        <nz-divider nzText="Producto" nzOrientation="left"></nz-divider>

        <form nz-form [formGroup]="formProductSearch">
          <nz-form-item>
            <nz-form-label
              [nzSm]="6"
              [nzXs]="14"
              nzRequired
              nzFor="productSearchFilter"
              >Búsqueda de Producto
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="14">
              <nz-input-group [nzSuffix]="clearQuery">
                <input
                  nz-input
                  formControlName="productSearchFilter"
                  placeholder="Ingrese Marca, Código, Categoría o Producto"
                  nzSize="small"
                  (keydown.enter)="searchProduct(); $event.preventDefault()"
                />
              </nz-input-group>

              <ng-template #clearQuery>
                <i
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  *ngIf="
                    this.formProductSearch.controls['productSearchFilter'].value !== ''
                    "
                  (click)="
                    this.formProductSearch.controls[
                      'productSearchFilter'
                    ].setValue('')
                  "
                ></i>
              </ng-template>
            </nz-form-control>
            <div nz-col style="margin: 3px">
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="openComponentProduct()"
                class="ml-5"
              >
                <i nz-icon nzType="search" nzTheme="outline"></i> Buscar
              </button>
            </div>
          </nz-form-item>
        </form>
        <br />
        <!-- Observaciones-->
        <nz-divider
          nzText="Observaciones"
          nzOrientation="left"
          style="margin-top: 0"
        ></nz-divider>

        <nz-form-item>

          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="observation"
            >Observación
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input 
            formControlName="observation"
            nz-input
            id="observation"
            maxlength="250" />
          </nz-form-control>

        </nz-form-item>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>
</form>

<!-- Tabla Detalle -->
<nz-collapse>
  <nz-collapse-panel nzHeader="Detalle" [nzActive]="true" [nzShowArrow]="true">
    <nz-content>
      <nz-table
        [nzBordered]="true"
        [nzData]="receiptDetailsGrid"
        nzShowPagination="false"
        style="overflow: auto"
        [nzLoading]="loading"
        nzSize= "small" 
      >
        <thead>
          <tr class="small-text">
            <th>Código</th>
            <th>Código Interno</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unidad</th>
            <th>SubTotal</th>
            <th [nzAlign]="'center'" nzWidth="90px">Iva</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of receiptDetailsGrid" class="small-text">
            <td>{{ data.productId }}</td>

            <td>
              {{ data.code }}
            </td>
            <td>{{ data.description }}</td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === data.productId"
                (click)="startEdit(data.productId)"
              >
                {{ data.quantity }}
              </div>
              <nz-input-number
                [hidden]="editId !== data.productId"
                [nzMin]="1"
                [nzMax]="10000"
                [(ngModel)]="data.quantity"
                (nzBlur)="stopEdit()"
                (ngModelChange)="changeQuantity($event)"
              ></nz-input-number>
            </td>
            <td [nzAlign]="'right'">{{  this.currencyFormat(data.price) }}</td>
            <td [nzAlign]="'right'">{{  this.currencyFormat(data.subTotal) }}</td>
            <td>
              <div
               class="editable-cell"
               [hidden]="editIdIva === data.productId"
               (click)="startEditIva(data.productId)"
             >
            {{data.iva}}
           </div> 
                <nz-select
                [hidden]="editIdIva !== data.productId"
                 [nzOptions]="ivaType"                 
                 (ngModelChange)="changeIvaValue($event, data.productId)"
                 [(ngModel)]="data.iva"  
                 (nzBlur)="stopEditIva()"              
               >
               </nz-select> 
           </td>
                <td style="text-align: center">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                  <nz-divider nzType="vertical"></nz-divider>
                </ng-template>
                <a *nzSpaceItem>
                  <i
                    nz-tooltip
                    nzTooltipTitle="Eliminar"
                    nz-icon
                    nzType="delete"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'"
                    (click)="popup.showDeleteConfirmation(data.productId)"
                  ></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
        <tfoot style="background-color: #fafafa">
          <tr>
            <td colspan="1">
              <b>SubTotal </b
              ><b style="color: red">{{
                this.currencyFormat(this.subtotal)
              }}</b>
            </td>
            <td colspan="1">
              <b>Iva </b><b style="color: red"></b
              >{{ this.currencyFormat(this.ivaTotal) }}
            </td>
            <td colspan="1">
              <b>Conc. No Gravado</b
              ><b style="color: red">
                <nz-input-number
                  [nzFormatter]="formatter"
                  (ngModelChange)="concNoGravadoChange($event)"
                  [(ngModel)]="value1"
                  [nzMin]="1"
                  [nzStep]="1"
                ></nz-input-number>
              </b>
            </td>
            <td colspan="1">
              <b style="margin-right: 5px">Perc. Iva</b
              ><b style="color: red">
                <nz-input-number
                  [nzFormatter]="formatter"
                  (ngModelChange)="percIvaChange($event)"
                  [(ngModel)]="value2"
                  [nzMin]="1"
                  [nzStep]="1"
                ></nz-input-number
              ></b>
            </td>
            <td colspan="2">
              <b>Perc. Ing. Brutos</b
              ><b style="color: red">
                <nz-input-number
                  [nzFormatter]="formatter"
                  (ngModelChange)="percIngBrutosChange($event)"
                  [(ngModel)]="value3"
                  [nzMin]="1"
                  [nzStep]="1"
                ></nz-input-number
              ></b>
            </td>
            <td colspan="1">
              <b>Total </b
              ><b style="color: red"> {{ this.currencyFormat(this.total) }}</b>
            </td>
            <td colspan="2" [nzAlign]="'left'">
              <button
                id="actualizarbutton"
                nz-button
                nzSize="large"
                style="background-color: #24ce41"
                (click)="msjConfirmOk()"
              >
                <i nz-icon nzType="save" nzTheme="outline"></i>Grabar
              </button>
            </td>
            <ng-template #elseBlock>
              <td colspan="2"></td>
            </ng-template>
          </tr>
        </tfoot>
      </nz-table>
    </nz-content>
  </nz-collapse-panel>
</nz-collapse>

<app-popup-confirmation
  #popup
  [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro que desea eliminar el producto seleccionado?'"
  [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()"
>
</app-popup-confirmation>
<app-popup-confirmation
  #pop
  [title]="'Confirmar Guardado de comprobante'"
  [header]="'¿Está seguro que desea guardar el comprobante?'"
  [message]="'Esta acción no se puede revertir'"
  (handleOk)="save()"
>
  >
</app-popup-confirmation>
