<app-header-op-buttons #header [btnCancelText]="'Cancelar'" [btnSaveText]="'Guardar'" [title]="'Cliente'"
    [showSpinner]="isSaving" [iconBack]="'rollback'" [iconSave]="'save'" [iconTitle]="'tags'" (onSaveClick)="save()">
</app-header-op-buttons>

<nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="form" style="margin-top: 16px">
        <nz-collapse>
            <nz-collapse-panel nzHeader="General" [nzActive]="true">
                <nz-content>
                    <!--Nombre-->
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Nombre
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input formControlName="name" nz-input id="name" maxlength="250" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cuit">CUIT </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input [(ngModel)]="demoCuit" formControlName="cuit" id="cuit" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dni">Dni
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input formControlName="dni" nz-input id="dni" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Direccion
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input formControlName="address" nz-input id="address" maxlength="250" />
                        </nz-form-control>
                    </nz-form-item>
                


                    <ng-container formArrayName="phoneEntity">
                        <ng-container *ngFor="let ph of phoneNumberControls; let i = index">
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phoneNumber">
                                    Numero Telefono {{i + 1}}
                                </nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input [formControl]="ph" nz-input />
                                    <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" style="color: rgb(243, 79, 79); position: absolute; margin-top: -7x; margin-left: 4px;"
                                    (click)="removePhoneField($event, i)"></i>
                                </nz-form-control>
                            </nz-form-item>                       
                        </ng-container>

                        <button nz-button nzType="primary" nzShape="circle" style="margin-left: 146px;">
                            <i nz-icon nzType="phone"
                            (click)="addPhoneField($event)"></i>
                        </button>
                      
                    </ng-container>

                    <ng-container formArrayName="emailEntity">
                        <ng-container *ngFor="let e of emailsControls; let i = index">
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email" >
                                    Email  {{i + 1}}
                                </nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input [formControl]="e" nz-input />
                                    <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" style="color: rgb(243, 79, 79); position: absolute; margin-top: -7x; margin-left: 4px;"
                                    (click)="removeEmailField($event, i)"></i>
                                </nz-form-control>
                            </nz-form-item>                       
                        </ng-container>
                        <button nz-button nzType="primary" nzShape="circle" style="margin-left: 146px;">
                            <i nz-icon nzType="mail"
                            (click)="addEmailField($event)"></i>
                        </button>
                       
                    </ng-container>
                 
<!-- 
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email
                        </nz-form-label>                    
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input formControlName="email" nz-input id="email" maxlength="250" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item *ngFor="let control of listOfControl; let i = index">
                        <nz-form-label [nzXs]="24" [nzSm]="6" *ngIf="i === 0" nzFor="control.email">Email
                        </nz-form-label>
                        <nz-form-control [nzXs]="24" [nzSm]="14"
                            nzErrorTip="Por favor ingrese un Email o elimine este campo.">
                            <input formControlName="control.email" nz-input id="control.id" maxlength="250" />
                            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
                                (click)="removeField(control, $event)"></i>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzXs]="24" [nzSm]="14">
                            <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                                <i nz-icon nzType="plus"></i>
                                Agregar Email
                            </button>
                        </nz-form-control>
                    </nz-form-item> -->

                </nz-content>
            </nz-collapse-panel>
        </nz-collapse>
    </form>
</nz-spin>