<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado de Períodos</nz-page-header-title>
    <nz-page-header-extra>
      <button
        *authPermission="[permissions.CreatePeriod, permissions.EditPeriod]"
        nz-tooltip
        nzTooltipTitle="Nuevo"
        nz-button
        nzType="primary"
        nzShape="circle"
        (click)="openComponentPeriod()"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-collapse>
    <nz-collapse-panel nzSize="small" nzHeader="Filtros">
      <div nz-row [nzGutter]="[8, 1]">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Búsqueda</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="clearQuery">
                <input
                  [ngModelOptions]="{ standalone: true }"
                  type="int"
                  placeholder="Ingrese inicio o fin de periodo"
                  nz-input
                  (keydown.enter)="search()"
                  [(ngModel)]="queryData.filter"
                />
              </nz-input-group>
              <ng-template #clearQuery>
                <i
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  *ngIf="queryData.filter"
                  (click)="queryData.filter = ''; search()"
                ></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <div class="table" (scroll)="onScroll($event)">
    <nz-table
      #groupingTable
      class="tabla"
      [nzData]="periodList"
      nzBordered="false"
      [nzSize]="'small'"
      nzTableLayout="fixed"
      nzShowPagination="false"
    >
      <thead>
        <tr>
          <th nzEllipsis nzWidth="200px">Inicio período</th>
          <th nzEllipsis nzWidth="200px">Fin período</th>
          <th nzEllipsis nzWidth="150px">Estado</th>
          <th nzEllipsis nzWidth="100px">Acción</th>
          <th nzEllipsis nzWidth="250px" [nzAlign]="'center'">Reportes</th>
        </tr>
      </thead>
      <tbody>
        <tr
          id="{{ i }}"
          *ngFor="let period of periodList; let i = index"
          class="small-text"
          (dblclick)="onDoubleClicked(period)"
          tabindex="-1"
          (click)="onClick(period, i)"
          (keydown)="myNavegation($event)"
          [style.background-color]="
            period === selectedPeriod ? 'lightblue' : ''
          "
          (keydown.enter)="onEnter($event, period)"
        >
          <td nzEllipsis>{{ this.formaterDate(period.initPeriod) }}</td>
          <td nzEllipsis>{{ this.formaterDate(period.endPeriod) }}</td>
          <td nzEllipsis *ngIf="period.status === true">Activado</td>
          <td nzEllipsis *ngIf="period.status === false">Cerrado</td>
          <td nzEllipsis *ngIf="period.status === true">
            <a
              #active
              nz-tooltip
              nzTooltipTitle="Abierto"
              nzTooltipPlacement="rightTop"
              style="color: rgb(248, 46, 46)"
              (click)="popup.showDeleteConfirmation(period.id)"
            >
              <i
                nz-icon
                nzType="close-circle"
                nzTheme="outline"
                style="font-size: 18px"
              >
              </i>
            </a>
          </td>
          <td nzEllipsis *ngIf="period.status === false">
            <a
              #close
              nz-tooltip
              nzTooltipTitle="Cerrado"
              nzTooltipPlacement="rightTop"
              style="color: darkgrey"
            >
              <i
                nz-icon
                nzType="close-circle"
                nzTheme="outline"
                style="font-size: 18px"
              >
              </i>
            </a>
          </td>
          <ng-container>
            <td style="text-align: center">
              <!-- <a> -->
                <button
                  nz-button
                  nzType="primary"
                  nzSize="small"
                  style="background-color: rgb(2, 145, 2); font-size:small; border-color: rgb(2, 145, 2);margin-right: 25px"
                  routerLink="/home/iva/ivaCompra"
                  [queryParams]="{
                    from: this.formaterDate(period.initPeriod),
                    to: this.formaterDate(period.endPeriod)
                  }"
                >
                  Iva Compra
                </button>
           <!--    </a> -->
           <!--  </td>
            <td style="text-align: center"> -->
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                style="font-size:small"
                routerLink="/home/iva/ivaVenta"
                [queryParams]="{
                  from: this.formaterDate(period.initPeriod),
                  to: this.formaterDate(period.endPeriod)
                }"
              >
                Iva venta
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-layout>
<app-popup-confirmation
  #popup
  [title]="'Confirmar Cierre Período'"
  [header]="'¿Está seguro de que desea cerrar el Período seleccionado?'"
  [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()"
>
</app-popup-confirmation>
