/Back/Kiltex.SistemaGestion.Domain/bin
/Back/Kiltex.SistemaGestion.Domain/obj
/Back/Kiltex.SistemaGestion.SDK/obj
/Back/Kiltex.SistemaGestion.SDK/bin
/Back/Kiltex.SistemaGestion.Services/obj
/Back/Kiltex.SistemaGestion.Services/bin
/Back/Kiltex.SitemaGestion.Api/obj
/Back/Kiltex.SitemaGestion.Api/bin
/Back/Kiltex.SitemaGestion.Api/.vs
