<app-header-op-buttons
  #header
  [btnCancelText]="'Cancelar'"
  [btnSaveText]="'Guardar'"
  [btnSendText]="'Enviar'"
  [hideSend]="false"
  [title]="'Pedidos'"
  [iconBack]="'rollback'"
  [iconSave]="'save'"
  [iconTitle]="'shopping-cart'"
  [iconSend]="'mail'"
  (onSaveClick)="save()"
  (onCloseClick)="close()"
  [hideClose]="true"
  [hideBack]="true"
>
</app-header-op-buttons>

<div class="site-page-header-ghost-wrapper">
  <nz-collapse>
    <nz-collapse-panel nzHeader="Datos Pedido" [nzActive]="true">
      <nz-content>
        <form nz-form [formGroup]="form">
          <form nz-form [formGroup]="formSupplierSearch">
            <div nzSpan="12" class="mb-2">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzRequired
                  nzFor="supplierId"
                  >Proveedor
                </nz-form-label>
                <nz-select
                  *ngIf="viewOrder; else elseBlock"
                  nzPlaceHolder="Seleccione Proveedor"
                  nzAllowClear
                  nzShowSearch
                  nzServerSearch
                  (nzOnSearch)="onSearch($event)"
                  formControlName="supplierId"
                  style="width: 200px"
                  (ngModelChange)="onChange($event)"
                >
                  <ng-container *ngFor="let o of entityList">
                    <nz-option
                      *ngIf="!loading"
                      [nzValue]="o.id"
                      [nzLabel]="o.name"
                    ></nz-option>
                  </ng-container>
                  <nz-option *ngIf="loading" nzDisabled nzCustomContent>
                    <span nz-icon nzType="loading" class="loading-icon"></span>
                    Cargando ...
                  </nz-option>
                </nz-select>
                <ng-template #elseBlock>
                  <nz-form-control [nzSm]="6" [nzXs]="24">
                    <b> {{ supplierName }}</b>
                  </nz-form-control>
                </ng-template>
              </nz-form-item>
            </div>
          </form>

          <div nzSpan="12" class="mb-2">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="24"
                nzRequired
                nzFor="supplierId"
                >Estado
              </nz-form-label>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Estado"
                id="statusId"
                formControlName="statusId"
                [nzOptions]="allStatus"
                [nzDisabled]="id == 0 ? true : editOrder"
              >
              </nz-select>
            </nz-form-item>
          </div>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="datetime"
              >Fecha
            </nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24">
              <b *ngIf="viewOrder; else elseBlockDate">
                {{ startDate ? (startDate | date: "YYYY-MM-dd") : "N/A" }}
              </b>
              <ng-template #elseBlockDate>
                <b>
                  {{ dateTime ? (dateTime | date: "YYYY-MM-dd") : "N/A" }}
                </b>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="isPaid"
              >Pagado
            </nz-form-label>
            <nz-switch
              formControlName="isPaid"
              [ngModel]="switchValue"
              [nzDisabled]="disabled"
            ></nz-switch>
          </nz-form-item>

          <!-- Va creando divs segun la cantidad de mails creados que tenga el proveedor  -->
          <ng-container formArrayName="supplierEmail">
            <ng-container *ngFor="let data of emailsControls; let i = index">
              <div nz-row>
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24">
                      Email {{ i + 1 }}
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzFor="email">
                      <input [formControl]="data" nz-input /> </nz-form-control
                  ></nz-form-item>
                </div>
                <div nz-col>
                  <nz-switch
                    nzCheckedChildren="Enviar"
                    nzUnCheckedChildren="No enviar"
                    [nzDisabled]="disabled"
                  ></nz-switch>
                </div></div></ng-container
          ></ng-container>
        </form>
      </nz-content>

      <!-- Buscador de Productos -->
      <nz-divider
        nzText="Seleccionar productos"
        nzOrientation="left"
      ></nz-divider>

      <div nz-row nzJustify="start" nzAlign="middle">
        <form nz-form [formGroup]="formProductSearch" col nzSpan="12">
          <div>
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24"
                >Búsqueda de Producto</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-input-group [nzSuffix]="clearQuery">
                  <input
                    nzSize="small"
                    formControlName="productSearchFilter"
                    placeholder="Ingrese Marca, Código, Categoria o Producto"
                    nz-input
                    (keydown.enter)="searchProduct()"
                  />
                </nz-input-group>

                <ng-template #clearQuery>
                  <i
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="
                      this.formProductSearch.controls['productSearchFilter']
                        .value !== ''
                    "
                    (click)="
                      this.formProductSearch.controls[
                        'productSearchFilter'
                      ].setValue('')
                    "
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
        <div nz-col style="margin: 3px">
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="openComponentProduct()"
            [disabled]="disabled"
          >
            <i nz-icon nzType="search" nzTheme="outline"></i> Buscar
          </button>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>

  <!-- </form> -->
  <!-- Tabla Detalle -->
  <nz-collapse>
    <nz-collapse-panel
      nzHeader="Detalle Pedido"
      [nzActive]="true"
      [nzShowArrow]="false"
    >
      <nz-content>
        <nz-table
          [nzBordered]="true"
          [nzData]="orderDetailGrid"
          nzShowPagination="false"
        >
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th *ngIf="!viewOrder">Cantidad Recibida</th>
              <th>Precio</th>
              <th>Subtotal</th>
              <th *ngIf="viewOrder" [nzAlign]="'center'">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of orderDetailGrid" class="small-text">
              <td>{{ data.code }}</td>
              <td>{{ data.productName }}</td>
              <td *ngIf="viewOrder; else editOrderView">
                <div
                  class="editable-cell"
                  [hidden]="editId === data.id"
                  (click)="startEdit(data.id)"
                >
                  {{ data.orderedQuantity }}
                </div>
                <nz-input-number
                  [hidden]="editId !== data.id"
                  [nzMin]="1"
                  [nzMax]="10000"
                  [(ngModel)]="data.orderedQuantity"
                  (nzBlur)="stopEdit()"
                  (ngModelChange)="changeQuantity($event)"
                >
                </nz-input-number>
              </td>
              <ng-template #editOrderView>
                <td>{{ data.orderedQuantity }}</td>
              </ng-template>

              <td *ngIf="!viewOrder" [nzAlign]="'right'">
                <div
                  class="editable-cell"
                  [hidden]="editIdrecievedQuantity === data.id"
                  (click)="startEditrecievedQuantity(data.id)"
                >
                  {{ data.recievedQuantity }}
                </div>
                <nz-input-number
                  [hidden]="editIdrecievedQuantity !== data.id"
                  [nzMin]="1"
                  [nzMax]="10000"
                  [(ngModel)]="data.recievedQuantity"
                  (nzBlur)="stopEditrecievedQuantity()"
                  (ngModelChange)="changeQuantityrecievedQuantity($event)"
                >
                </nz-input-number>
              </td>
              <td [nzAlign]="'right'">{{ data.price }}</td>
              <td [nzAlign]="'right'">
                {{ currencyFormat(data.subTotal) }}
              </td>
              <td *ngIf="viewOrder" style="text-align: center">
                <nz-space [nzSplit]="spaceSplit">
                  <ng-template #spaceSplit>
                    <nz-divider nzType="vertical"></nz-divider>
                  </ng-template>
                  <a
                    *nzSpaceItem
                    (click)="popup.showDeleteConfirmation(data.id)"
                  >
                    <i
                      nz-tooltip
                      nzTooltipTitle="Eliminar"
                      nz-icon
                      nzType="delete"
                      [nzTheme]="'twotone'"
                      [nzTwotoneColor]="'#FF0000'"
                    ></i>
                  </a>
                </nz-space>
              </td>
            </tr>
          </tbody>
          <tfoot style="background-color: #fafafa">
            <tr>
              <td colspan="6" [nzAlign]="'right'">
                <b>Total </b
                ><b style="color: red">{{ this.currencyFormat(this.total) }}</b>
              </td>
              <ng-template #elseBlock>
                <td colspan="2"></td>
              </ng-template>
            </tr>
          </tfoot>
        </nz-table>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>
</div>

<app-popup-confirmation
  #popup
  [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro de que desea eliminar el producto seleccionado?'"
  [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()"
>
</app-popup-confirmation>
