<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title> Listado de Usuarios </nz-page-header-title>
    <nz-page-header-extra>
      <button
        *authPermission="[permissions.CreateUser, permissions.EditUser]"
        nz-tooltip
        nzTooltipTitle="Nuevo"
        nz-button
        nzType="primary"
        nzShape="circle"
      >
        <i
          nz-icon
          nzType="plus"
          nzTheme="outline"
          (click)="openComponentUserEdit()"
        ></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content>
    <app-search-filter [title]="'Filtros'" [(model)]="queryData.filter" (keydown.enter)="search()" [palceHolder]="'Ingrese nombre de usuario'" (onSearchClick)="search()"></app-search-filter>
    <!-- Tabla -->
    <div (scroll)="onScroll($event)" class="table">
      <nz-table
        class="tabla"
        [nzData]="userList"
        nzBordered="true"
        [nzSize]="'small'"
        [nzLoading]="loading"
        nzShowPagination="false"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzEllipsis nzWidth="45px">Nombre</th>
            <th nzEllipsis nzWidth="45px">Apellido</th>
            <th nzEllipsis nzWidth="45px">Usuario</th>
            <th nzEllipsis nzWidth="85px">Email</th>
            <th nzEllipsis nzWidth="45px">Rol</th>
            <th nzEllipsis nzWidth="45px" style="text-align: center;" *authPermission="[permissions.DeleteUser]">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            id="{{ i }}"
            *ngFor="let user of userList; let i = index"
            class="small-text"
            tabindex="-1"
            (click)="onClick(user, i)"
            (keydown)="myNavegation($event)"
            [style.background-color]="user === selectedUser ? 'lightblue' : ''"
            (dblclick)="onDoubleClicked(user)"
            (keydown.enter)="onEnter($event)"
          >
            <td nzEllipsis>{{ user.firstName }}</td>
            <td nzEllipsis>{{ user.lastName }}</td>
            <td nzEllipsis>{{ user.userName }}</td>
            <td nzEllipsis>{{ user.email }}</td>
            <td nzEllipsis>{{ this.getRolName(user.roleId) }}</td>
            <td style="text-align: center;" *authPermission="[permissions.DeleteUser]">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                </ng-template>                
                <a *nzSpaceItem (click)="popup.showDeleteConfirmation(user.id)">
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'"></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>
<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro de que desea eliminar el usuario seleccionado?'"
  [message]="'Esta acción no se puede revertir'" (handleOk)="handleOk()">
</app-popup-confirmation>

