<app-header-op-buttons
  #header
  (onCloseClick)="close()"
  [hideClose]="true"
  [hideUpdate]="true"
  [hideSave]="true"
  [hideBack]="true"
  [title]="'Nota de Débito'"
  [iconBack]="'rollback'"
  [iconTitle]="'container'"
>
</app-header-op-buttons>
<nz-collapse >
  <nz-collapse-panel nzHeader="Datos Nota de Débito" [nzActive]="true"  class="{{this.tipo}}">
    
        <nz-descriptions nzSize="small" [nzColumn]="3" style="margin-left: 100px; padding: 5px;">
          <nz-descriptions-item nzTitle=" * Fecha" >
          <a>{{ dateTime ? (dateTime | date : "YYYY-MM-dd") : "N/A" }} </a>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle=" * Tipo" >
          <nz-page-header-tags>
            <nz-tag [nzColor]="'blue'">{{ this.debitMemoType(type) }}</nz-tag>
          </nz-page-header-tags>
        </nz-descriptions-item>
          <nz-descriptions-item nzTitle="* Número de Factura" >
            {{ this.invoiceNumber }}</nz-descriptions-item>
      
        <nz-descriptions-item nzTitle="* Cliente" >
          {{ this.customerName }}</nz-descriptions-item
        > 
          <nz-descriptions-item nzTitle=" * Cuit" >
            {{ this.customerCuit  | cuit }}</nz-descriptions-item
          >
         
        
          <nz-descriptions-item nzTitle=" * Dirección" >
            {{ this.customerAddress }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=" * Observación" >
            {{ this.observation }}
          </nz-descriptions-item>
        </nz-descriptions> 
    <!--   </div> 
        <div  nz-col  > -->
         <!--  <nz-descriptions nzSize="small" [nzColumn]="2">
          <nz-descriptions-item nzTitle="* Cliente" >
            {{ this.customerName }}</nz-descriptions-item
          > 
          <nz-descriptions-item nzTitle=" * Cuit" >
            {{ this.customerCuit }}</nz-descriptions-item
          >
          <nz-descriptions-item nzTitle=" * Dirección" >
            {{ this.customerAddress }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle=" * Observación" >
            {{ this.observation }}
          </nz-descriptions-item>
        </nz-descriptions>  -->
   <!--   </div>   -->
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse>
  <nz-collapse-panel
    nzHeader="Detalle Nota de Débito"
    [nzActive]="true"
    [nzShowArrow]="true"
    class="{{this.tipo}}"
  >
    <nz-content>
      <nz-table [nzBordered]="true" nzTemplateMode [nzSize]="'small'">
        <thead >
          <tr class="thead">
            <th >Código</th>
            <th>Código Interno</th>
            <th>Producto</th>
            <th [nzAlign]="'center'">Cantidad</th>
            <th [nzAlign]="'center'">Precio Unidad</th>
            <th [nzAlign]="'center'">SubTotal</th>
            <th>Iva</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of debitMemoDetail">
            <td>{{ data.productCode }}</td>
            <td>{{ data.productId }}</td>
            <td>{{ data.productName }}</td>
            <td [nzAlign]="'right'">{{ data.quantity }}</td>
            <td [nzAlign]="'right'">{{ this.currencyFormat(data.price) }}</td>
            <td [nzAlign]="'right'">
              {{ this.currencyFormat(data.quantity * data.price) }}
            </td>
            <td>{{ data.iva }}</td>
          </tr>
        </tbody>
        <tfoot  class="{{this.tipo}}">
          <tr> 
            <td colspan="8" [nzAlign]="'right'">
              <b>Total </b
              ><span style="color: blue"
                >{{ this.currencyFormat(total) }}
              </span>
            </td>
         </tr>
        </tfoot> 
      </nz-table>
    </nz-content>
  </nz-collapse-panel>
</nz-collapse>