<app-header-op-buttons
  #header
  (onCloseClick)="close()"
  [hideClose]="true"
  [hideUpdate]="true"
  [hideSave]="true"
  [hideBack]="true"
  [title]="'Nota de Débito'"
  [iconBack]="'rollback'"
  [iconTitle]="'container'"
>
</app-header-op-buttons>
<nz-collapse >
  <nz-collapse-panel nzHeader="Datos Nota de Débito" [nzActive]="true">
    <nz-descriptions nzSize="small" [nzColumn]="2">
        <nz-descriptions-item nzTitle=" * Fecha" [nzSpan]="2">
        <a>{{ dateTime ? (dateTime | date : "YYYY-MM-dd") : "N/A" }} </a>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="* Cliente" [nzSpan]="2">
        {{ this.customerName }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle=" * Cuit" [nzSpan]="2">
        {{ this.customerCuit }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle=" * Dirección" [nzSpan]="3">
        {{ this.customerAddress }}
      </nz-descriptions-item>
     </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse>
  <nz-collapse-panel
    nzHeader="Detalle Nota de Débito"
    [nzActive]="true"
    [nzShowArrow]="true"
  >
    <nz-content>
      <nz-table [nzBordered]="true" nzTemplateMode [nzSize]="'small'">
        <thead>
          <tr>
            <th>Código</th>
            <th>Código Interno</th>
            <th>Producto</th>
            <th [nzAlign]="'center'">Cantidad</th>
            <th [nzAlign]="'center'">Precio Unidad</th>
            <th [nzAlign]="'center'">SubTotal</th>
            <th>Iva</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of debitMemoDetail">
            <td>{{ data.productCode }}</td>
            <td>{{ data.productId }}</td>
            <td>{{ data.productName }}</td>
            <td [nzAlign]="'right'">{{ data.quantity }}</td>
            <td [nzAlign]="'right'">{{ this.currencyFormat(data.price) }}</td>
            <td [nzAlign]="'right'">
              {{ this.currencyFormat(data.quantity * data.price) }}
            </td>
            <td>{{ data.iva }}</td>
          </tr>
        </tbody>
        <!-- <tfoot>
          <tr> -->
            <td colspan="6" [nzAlign]="'right'">
              <b>Total </b
              ><span style="color: blue"
                >{{ this.currencyFormat(total) }}
              </span>
            </td>
        <!--    </tr>
        </tfoot> -->
      </nz-table>
    </nz-content>
  </nz-collapse-panel>
</nz-collapse>