.list-header {
  position: relative;
  height: 64px; 
  padding: 10px;
  background: #fff;
  box-shadow: -1px 1px 5px 1px #a3a1a3;
}
#actualizarbutton {
  transition-duration: 0.4s !important;
  border: #4CAF50;
}

#actualizarbutton:hover {
  background-color: #4CAF50 /* Green */ !important;
  color: white;
  border-color: white;
  overflow: auto;
}
#actualizarbutton:focus {
  background-color: #4CAF50 /* Green */ !important;
  color: white;
  border-color: white;
}
  .tabla{
    overflow: auto; 
   table-layout: fixed; 
  } 
  .tabla th{
    font-size: 12px;
  }
  .tabla td{
    font-size: 11px; 
  }
  .table{
    overflow-y: scroll;
    height: 60vh;
    scroll-behavior: smooth;
  } 
 