<nz-collapse>
  <nz-collapse-panel nzSize="small" nzHeader="Filtros" style="font-weight: bold">
    <form style="margin-left: 13px" (ngSubmit)="onSearchCustomClick.emit($event)">
      <div nz-row>
        <div nz-col nzFlex="2" style="margin: 10px;">
          <nz-form-item>
            <nz-form-label nzFor="customerName">Nombre</nz-form-label>
            <nz-form-control>
              <nz-input-group nzSearch [nzSuffix]="clearQueryName">
                <input name="customerName" type="text" placeholder="Ingrese nombre" nz-input
                  (keydown.enter)="onSearchCustomClick.emit($event)" [(ngModel)]="model.filter.customerName"
                  id="customerName" autocomplete="off" />
              </nz-input-group>
  
              <ng-template #clearQueryName>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="model.filter.customerName" (click)="model.filter.customerName = '';onSearchCustomClick.emit($event)"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>          
        </div>
        <div nz-col nzFlex="2" style="margin: 10px;">
          <nz-form-item>
            <nz-form-label nzFor="cuit" >CUIT</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="clearQueryCuit">
                <input name="cuit" type="text" placeholder="Ingrese CUIT/CUIL o DNI" nz-input
                  (keydown.enter)="onSearchCustomClick.emit($event)" [(ngModel)]="model.filter.cuit" /></nz-input-group>
  
              <ng-template #clearQueryCuit>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="model.filter.cuit"
                  (click)="model.filter.cuit = ''; onSearchCustomClick.emit($event)"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>          
        </div>
      </div>

      <div nz-row>
        <div nz-col nzFlex="2" style="margin: 10px;">
          <nz-form-item>
            <nz-form-label nzFor="number">Nro de comprobante</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="clearQueryNumber">
                <input name="number" type="number" placeholder="Ingrese numero de factura"
                  nz-input (keydown.enter)="onSearchCustomClick.emit($event)" [(ngModel)]="model.filter.number" min="0" />
              </nz-input-group>
  
              <ng-template #clearQueryNumber>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="model.filter.number"
                  (click)="model.filter.number = 0; onSearchCustomClick.emit($event)"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzFlex="2" style="margin: 10px;">
          <nz-form-item >
            <nz-form-label>Fecha</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="model.filter.date" name="date" [nzPlaceHolder]="'Fecha'" (ngModelChange)="dateChange($event)"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col style="margin: 10px;">
          <button nz-button nzType="primary">
            <i nz-icon nzType="search"></i>
            Buscar
          </button>
        </div>
      </div>

        <div nz-row nzJustify="end">
        </div>

    </form>
  </nz-collapse-panel>
</nz-collapse>