<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title
      >Listado de Comprobantes de Compra</nz-page-header-title
    >
    <nz-page-header-extra>
      <a routerLink="/home/invoices/receipt/new">
        <button
          *authPermission="[permissions.CreateInvoice]"
          nz-tooltip
          nzTooltipTitle="Nuevo"
          nz-button
          nzType="primary"
          nzShape="circle"
        >
          <i nz-icon nzType="plus" nzTheme="outline"></i></button
      ></a>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <nz-collapse>
      <nz-collapse-panel nzSize="small" nzHeader="Filtros">
        <form nz-form style="margin-left: 13px;">
          <div nz-row >
           <!--  <div nz-col nzSpan="14"> -->
              <nz-form-item style="margin-left: 15px;" nzSpan="14">
                <nz-form-label>CUIT</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzSuffix]="clearQuery">
                    <input
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      placeholder="Ingrese CUIT/CUIL o DNI"
                      nz-input
                      (keydown.enter)="search()"
                      [(ngModel)]="SpecificFilter.filter.cuit"
                    />
                  </nz-input-group>

                  <ng-template #clearQuery>
                    <i
                      nz-icon
                      class="ant-input-clear-icon"
                      nzTheme="fill"
                      nzType="close-circle"
                      *ngIf="SpecificFilter.filter.cuit" (click)="SpecificFilter.filter.cuit = ''; search()"
                    ></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
           <!--  </div>
              <div nz-col nzSpan="8"> -->
              <nz-form-item style="margin-left: 35px;">
                <nz-form-label>Nro de comprobante</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzSuffix]="clearQuery">
                    <input
                      [ngModelOptions]="{ standalone: true }"
                      type="number"
                      placeholder="Ingrese número de comprobante"
                      nz-input
                      (keydown.enter)="search()"
                      [(ngModel)]="SpecificFilter.filter.number"
                      min="0"
                    />
                  </nz-input-group>

                  <ng-template #clearQuery>
                    <i
                      nz-icon
                      class="ant-input-clear-icon"
                      nzTheme="fill"
                      nzType="close-circle"
                      *ngIf="SpecificFilter.filter.number" (click)="SpecificFilter.filter.number = 0; search()"
                    ></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
             <!--  <div style="color: red;font-size: 12px; margin-left: 20px;">* Debe ingresar el número de comprobante completo</div> -->
            <!-- </div>
            <div nz-col class="gutter-row" [nzSpan]="8"> -->
              <nz-form-item style="margin-left: 55px;">
                <nz-form-label>Fecha</nz-form-label>
                <nz-form-control >
                  <nz-date-picker
                  nzFormat="dd/MM/yyyy"
                    [(ngModel)]="SpecificFilter.filter.date"
                    name="date"
                    [nzPlaceHolder]="'Fecha'"       
                    (ngModelChange)="dateChange($event)"
                  ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
          <!-- </div>
          <div style="margin-left: 15px;"> -->
            <button nz-button nzType="primary" nzSpam="18" style="margin-left: 90px;" (click)="search()">
              <i nz-icon nzType="search"></i>
              Buscar
            </button>
          </div>
        <!--   </div> -->
        </form>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- Tabla -->

    <!--   <div > -->
    <div class="table"  (scroll)="onScroll($event)">
      <nz-table
        class="tabla"
        nzShowSizeChanger
        [nzData]="receiptList"
        nzBordered="false"
        [nzSize]="'small'"
        [nzLoading]="loading"
        [nzPaginationType]="'small'"
        nzShowPagination="false"
        nzTableLayout="fixed"
       
      >
        <thead>
          <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th>Cuit</th>
            <th>Nombre</th>
            <th [nzAlign]="'center'">Total</th>
            <th [nzAlign]="'center'">Tipo</th>
            <th [nzAlign]="'center'">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            id="{{ i }}"
            *ngFor="let data of receiptList; let i = index"
            class="small-text"
            tabindex="-1"
            (keydown)="myNavegation($event)"
            [style.background-color]="
              data === selectedReceipt ? 'lightblue' : ''
            "
            (click)="onClick(data, i)"
            (dblclick)="onDoubleClick(data)"
          >
            <td>{{ data.id }}</td>
            <td>{{ this.formaterDate(data.dateTime) }}</td>
            <td>{{ data.supplierCuit | cuit}}</td>
            <td>{{ data.supplierName }}</td>
            <td [nzAlign]="'right'">
              <b>{{ this.currencyFormat(data.total) }}</b>
            </td>

            <td [nzAlign]="'center'">{{ this.getInvoiceType(data.type) }}</td>
            <td style="text-align: center">
              <a>
                <i
                  nz-icon
                  nzType="eye"
                  nzTheme="outline"
                  style="font-size: 16px"
                  (click)="onDoubleClicked(data)"
                ></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>
