 <nz-layout> 
    <nz-page-header class="list-header">
      <nz-page-header-title>Listado de Productos</nz-page-header-title>
      <nz-page-header-extra>
        <a routerLink="/home/products/new"> <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary"
            nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button></a>
      </nz-page-header-extra>
    </nz-page-header> 
   </nz-layout> 
  <ag-grid-angular #MyGrid class="ag-theme-alpine" style="width: 100%; height: 100%; font-size: 10px;"
   domLayout="normal" [columnDefs]="columnDefs" [rowHeight]="rowHeight"  
 [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" [paginationPageSize]="paginationPageSize" 
 [rowBuffer]="rowBuffer"  [alwaysShowVerticalScroll]="true"
 [rowModelType]="rowModelType"
[cacheBlockSize]="cacheBlockSize"
[gridOptions]="gridOptions" [cacheOverflowSize]="cacheOverflowSize"
[maxBlocksInCache]="maxBlocksInCache"
[infiniteInitialRowCount]="infiniteInitialRowCount"
[maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
 [debounceVerticalScrollbar]="true" 
> 
</ag-grid-angular>



