.list-header {
  position: relative;
  height: 64px; 
  padding: 10px;
  background: rgb(253, 252, 252);
  box-shadow: -1px 1px 5px 1px #a3a1a3;
  margin-bottom: 10px;
}
th{
  font-size: 12px
}
td{
  font-size: 11px; 
}
.table{
  height: 60vh;
  overflow-y: scroll;
}
 windows{
  scroll-behavior: smooth;
} 
html{
  scroll-behavior: smooth;
}
.tabla {
  width: 100%;
  table-layout: fixed;
}






