<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado de Productos</nz-page-header-title>
    <nz-page-header-extra>
      <button *authPermission="[permissions.CreateProduct, permissions.EditProduct]" nz-tooltip nzTooltipTitle="Nuevo"
        nz-button nzType="primary" nzShape="circle">
        <i nz-icon nzType="plus" nzTheme="outline" (click)="openComponentProductsEdit()"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-collapse>
    <nz-collapse-panel nzSize="small" nzHeader="Filtros" [nzActive]="true">
      <form nz-form [formGroup]="formSearch">
        <div nz-row nzJustify="space-around">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Producto</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzSuffix]="clearQuery">
                  <input formControlName="product" type="text" placeholder="Producto" nz-input
                    [(ngModel)]="queryParams.filter.product" />
                </nz-input-group>

                <ng-template #clearQuery>
                  <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                    *ngIf="formSearch.get('invoice')?.value" (click)="formSearch.get('invoice')?.setValue('')"></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div>
            <button nz-button nzType="primary" (click)="search()">
              <i nz-icon nzType="search"></i>
              Buscar
            </button>
          </div>
        </div>

          <div nz-row nzJustify="space-around">
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzFor="category">Categoría </nz-form-label>
                <nz-form-control [nzSm]="24">
                  <nz-select nzPlaceHolder="Ingrese una categoria" nzAllowClear nzShowSearch nzServerSearch
                    (nzOnSearch)="onSearchCategory($event)" formControlName="category"
                    (ngModelChange)="categorySelectedChange($event)">
                    <ng-container *ngFor="let o of categorieList">
                      <nz-option *ngIf="!isLoading" [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                      <span nz-icon nzType="loading" class="loading-icon"></span>
                      Cargando ...
                    </nz-option>
                  </nz-select>

                  <ng-template #clearQuery>
                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="formSearch.get('category')?.value" (click)="formSearch.get('category')?.setValue(0)"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label>Marca</nz-form-label>
                <nz-form-control [nzSm]="24">
                  <nz-select nzPlaceHolder="Ingrese una marca" nzAllowClear nzShowSearch nzServerSearch
                    (nzOnSearch)="onSearchBrand($event)" formControlName="brand"
                    (ngModelChange)="brandSelectedChange($event)">
                    <ng-container *ngFor="let o of brandList">
                      <nz-option *ngIf="!loadingBrands" [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="loadingBrands" nzDisabled nzCustomContent>
                      <span nz-icon nzType="loading" class="loading-icon"></span>
                      Cargando ...
                    </nz-option>
                  </nz-select>
                  <ng-template #clearQuery>
                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="formSearch.get('brand')?.value" (click)="formSearch.get('brand')?.setValue(0)"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>          
      </form>
    </nz-collapse-panel>
  </nz-collapse> 
  <div class="table" (scroll)="onScroll($event)">
    <nz-table class="tabla" [nzData]="productList" nzBordered="false" [nzLoading]="loading" [nzSize]="'small'"
      nzTableLayout="fixed" nzShowPagination="false">
      <thead>
        <tr>
          <th nzEllipsis nzWidth="275px">Producto</th>
          <th nzEllipsis nzWidth="75px">Categoría</th>
          <th nzEllipsis nzWidth="70px">Marca</th>
          <th nzEllipsis nzWidth="50px" style="text-align: center">Cantidad</th>
          <th nzEllipsis nzWidth="70px" style="text-align: right">P.Costo</th>
          <th nzEllipsis nzWidth="70px" style="text-align: right">P.Lista</th>
          <th nzEllipsis nzWidth="70px" style="text-align: right;">P.Contado</th>
          <th nzEllipsis nzWidth="70px" style="text-align: right">P.Tarjeta</th>
          <th nzEllipsis nzWidth="45px" style="text-align: right">Código</th>
          <th nzEllipsis nzWidth="45px" style="text-align: center;" *authPermission="[permissions.DeleteProduct]">Acción
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="{{ i }}" *ngFor="let product of productList; let i = index" class="small-text" tabindex="-1"
          (click)="onClick(product, i)" (keydown)="myNavegation($event)" [style.background-color]="
            product === selectedProduct ? 'lightblue' : ''
          " (keydown.enter)="onEnter($event)" (dblclick)="onDoubleClicked(product)" autofocus>
          <td nzEllipsis>{{ product.description }}</td>
          <td nzEllipsis>{{ product.categoryName }}</td>
          <td nzEllipsis>{{ product.brandName }}</td>
          <td nzEllipsis style="text-align: center" [style.color]="product.quantity >= 0 ? '' : 'red' ">{{
            product.quantity }}</td>
          <td style="color: blue; text-align: right; font-weight: bold">
            {{ this.currencyFormat(product.purchasePrice) }}
          </td>
          <td style="color: green; text-align: right; font-weight: bold">
            {{ this.currencyFormat(product.salePrice) }}
          </td>
          <td style="color: rgb(194, 44, 44); text-align: right; font-weight: bold">
            {{ this.currencyFormat(product.cashSalePrice) }}
          </td>
          <td style="text-align: right; font-weight: bold">
            {{ this.currencyFormat(product.cardSalePrice) }}
          </td>
          <td nzEllipsis style="text-align: right">{{ product.code }}</td>
          <td style="text-align: center;" *authPermission="[permissions.DeleteBrand]">
            <nz-space [nzSplit]="spaceSplit">
              <ng-template #spaceSplit>
              </ng-template>
              <a *nzSpaceItem (click)="popup.showDeleteConfirmation(product.id)">
                <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#FF0000'"></i>
              </a>
            </nz-space>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-layout>
<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro de que desea eliminar la marca seleccionada?'" [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()">
</app-popup-confirmation>