<nz-layout>
    <nz-page-header class="list-header">
      <nz-page-header-title>Listado de Proveedores</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary"
            nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline" (click)="openComponentSupplierEdit()"></i></button>
      </nz-page-header-extra>
    </nz-page-header>  
    <nz-content>  
         <nz-collapse>
          <nz-collapse-panel nzSize="small" nzHeader="Filtros">
              <div nz-row [nzGutter]="[8,1]">
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label>Búsqueda</nz-form-label>
                    <nz-form-control>                  
                      <nz-input-group [nzSuffix]="clearQuery">
                        <input [ngModelOptions]="{standalone: true}" type="text" placeholder="Ingrese Nombre o CUIT-DNI" nz-input
                          (keydown.enter)="search()" [(ngModel)]="queryParams.filter" />
                      </nz-input-group>
                      
                      <ng-template #clearQuery>
                        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                          *ngIf="queryParams.filter" (click)="queryParams.filter = ''; search()"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
          </nz-collapse-panel>
        </nz-collapse> 
  
        <!-- Tabla -->
     
      <div class="table" (scroll)="onScroll($event)">
        <nz-table class="table-list" [nzData]="entityList" nzBordered= false [nzSize]="'small'" [nzLoading]="loading" 
        nzShowPagination="false">
          <thead>
            <tr>                     
              <th nzEllipsis style="width: 90px; text-align: center;">Nombre</th>
              <th nzEllipsis style="width: 80px; text-align: center">Dni</th>
              <th nzEllipsis style="width: 90px; text-align: center">Cuit</th>
              <th nzEllipsis style="text-align: center">Dirección</th>       
              <th nzEllipsis style="text-align: center">Observación</th>       
              <th nzEllipsis style="text-align: center">Teléfono/s</th>       
              <th nzEllipsis style="text-align: center">Email/s</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of entityList; let i=index" class="small-text" (dblclick)="onDoubleClicked(data)" tabindex="-1" (click)="onClick(data, i)" (keydown)="myNavegation($event) "
            [style.background-color]="data === selectedSuppliers ? 'lightblue' : ''" >          
              <td nzEllipsis>{{data.name}}</td>
              <td nzEllipsis >{{data.dni}}</td>
              <td nzEllipsis>{{data.cuit}}</td>
              <td nzEllipsis>{{data.address}}</td> 
              <td nzEllipsis>{{data.observation}}</td>
              <td nzEllipsis>{{data.phoneEntity}}</td>
              <td nzEllipsis>{{data.emailEntity}}</td>                
                   
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-content>
  </nz-layout>