<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado de Proveedores</nz-page-header-title>
    <nz-page-header-extra>
      <button
        *authPermission="[permissions.CreateSupplier, permissions.EditSupplier]"
        nz-tooltip
        nzTooltipTitle="Nuevo"
        nz-button
        nzType="primary"
        nzShape="circle"
      >
        <i
          nz-icon
          nzType="plus"
          nzTheme="outline"
          (click)="openComponentSupplierEdit()"
        ></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content>    
    <app-search-filter [title]="'Filtros'" [(model)]="queryParams.filter" (keydown.enter)="search()" [palceHolder]="'Ingrese Nombre o CUIT-DNI'" (onSearchClick)="search()"></app-search-filter>
    
    <!-- Tabla -->

    <div class="table" (scroll)="onScroll($event)">
      <nz-table
        class="tabla"
        [nzData]="entityList"
        nzBordered="false"
        [nzSize]="'small'"
        [nzLoading]="loading"
        nzShowPagination="false"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzEllipsis nzWidth="50px">Nombre</th>
            <th nzEllipsis nzWidth="50px">Dni</th>
            <th nzEllipsis nzWidth="50px">Cuit</th>
            <th nzEllipsis nzWidth="90px">Dirección</th>
            <th nzEllipsis nzWidth="130px">Observación</th>
            <th nzEllipsis nzWidth="100px">Teléfono/s</th>
            <th nzEllipsis nzWidth="90px">Email/s</th>
            <th nzEllipsis nzWidth="45px" style="text-align: center;" *authPermission="[permissions.DeleteUser]">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            id="{{ i }}"
            *ngFor="let data of entityList; let i = index"
            class="small-text"
            (dblclick)="onDoubleClicked(data)"
            tabindex="-1"
            (click)="onClick(data, i)"
            (keydown)="myNavegation($event)"
            [style.background-color]="
              data === selectedSuppliers ? 'lightblue' : ''
            "
            (keydown.enter)="onEnter($event)"
          >
            <td nzEllipsis>{{ data.name }}</td>
            <td nzEllipsis>{{ data.dni }}</td>
            <td nzEllipsis>{{ data.cuit  | cuit  }}</td>
            <td nzEllipsis>{{ data.address }}</td>
            <td nzEllipsis>{{ data.observation }}</td>
            <td nzEllipsis>{{ data.phoneEntity }}</td>
            <td nzEllipsis>{{ data.emailEntity }}</td>
            <td style="text-align: center;" *authPermission="[permissions.DeleteUser]">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                </ng-template>                
                <a *nzSpaceItem (click)="popup.showDeleteConfirmation(data.id)">
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'"></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>
<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro de que desea eliminar el proveedor seleccionado?'"
  [message]="'Esta acción no se puede revertir'" (handleOk)="handleOk()">
</app-popup-confirmation>