<?xml version="1.0"?>
<configuration>
    <configSections>
      
    </configSections>
    <connectionStrings>
      <add name="InsumosZanet.Properties.Settings.DBConnectionString" connectionString="Data Source=localhost;Initial Catalog=DBDante;User ID=sa;Password=Root1234;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

  <appSettings>
    <add key="Puerto" value="4"/>
    <add key="Velocidad" value="9600"/>
    <add key="Factura" value="SI"/>
    <add key="ServidorBD" value=".\SQL2014"/>
    <add key="UsuarioBD" value="sa"/>
    <add key="ClaveBD" value="sql2012"/>
    <add key="FileBackup" value="D:\app\base\"/>
    <add key="BaseDatos" value="BaseRDante"/>

  <!-- Datos de Correo-->
    <!--<add key="From" value="quercettidante@infovia.com.ar"/>
    <add key="Smtp" value="mail.infovia.com.ar"/>
    <add key="User" value="quercettidante@infovia.com.ar"/>
    <add key="Passw" value="123456"/>-->

    <add key="From" value="dantecomercialsanmartin@gmail.com"/>
    <add key="Smtp" value="smtp.gmail.com"/>
    <add key="User" value="dantecomercialsanmartin@gmail.com"/>
    <add key="Passw" value="dante1948andres1973"/>
    <add key="SSL" value="true"/>
    <add key="TitleMail" value="Pedido: Refrigeraciones Dante"/>   
    <add key="HeadMail" value="Refrigeraciones Dante"/>
    <add key="DireccionMail" value="Pirovano 375 San Martin - Mendoza "/>
    <add key="TelefonoMail" value="(263)4424032"/>
    <add key="BodyMail" value="Buenos dias se solicita el pedido de los siguientes productos: "/>
    <add key="FirmaMail" value="Por favor confirmar la recepcion del e-mail."/>
    <add key="diaspresupuesto" value="10"></add>

  <add key="FiscalPort" value="4"></add>
    <add key="FiscalBaudios" value="9600"></add>
    <add key="FiscalNombreDeFantasia" value="Refrigeraciones Dante"></add>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
