<nz-layout>
    <nz-page-header class="list-header">
      <nz-page-header-title>Listado de Comprobantes</nz-page-header-title>
      <nz-page-header-extra>
        <a routerLink="/home/invoices/new"> <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary"
            nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button></a>
      </nz-page-header-extra>
    </nz-page-header>
  
    <nz-content>  
        <nz-collapse>
          <nz-collapse-panel nzSize="small" nzHeader="Filtros">
            <form nz-form >
              <div nz-row [nzGutter]="[8,1]">  
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label>Búsqueda</nz-form-label>
                    <nz-form-control>                  
                      <nz-input-group [nzSuffix]="clearQuery">
                        <input [ngModelOptions]="{standalone: true}" type="text" placeholder="Ingrese CUIT-DNI" nz-input
                          (keydown.enter)="search()" [(ngModel)]="queryParams.filter" />
                      </nz-input-group>
                      
                      <ng-template #clearQuery>
                        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                          *ngIf="queryParams.filter" (click)="queryParams.filter = ''; search()"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>  
              </div>  
            </form>
          </nz-collapse-panel>
        </nz-collapse> 
  
        <!-- Tabla -->
     
    <!--   <div > -->
      <div  class="table" (scroll)="onScroll($event)">
        <nz-table  class="tabla" nzShowSizeChanger [nzData]="invoicesList" nzBordered="false" [nzSize]="'small'" [nzLoading]="loading"
          [nzPaginationType]="'small'" nzShowPagination="false">  
          <thead>
            <tr>                     
              <th>Número</th>
              <th>Fecha</th>
              <th>Cuit</th>
              <th>Nombre</th>
              <th [nzAlign]="'center'">Total</th>       
              <th [nzAlign]="'center'">Tipo</th>       
              <th [nzAlign]="'center'">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr id="{{i}}" *ngFor="let data of invoicesList, let i=index" class="small-text"  tabindex="-1" (click)="onClick(data, i)" (keydown)="myNavegation($event)"
            [style.background-color]="data === selectedInvoice ? 'lightblue' : ''" (keydown.enter)="onEnter($event)"(dblclick)="onDoubleClicked(data)">     
              <td>{{data.id}}</td>
              <td>{{ this.formaterDate(data.dateTime) }}</td>
              <td>{{data.customerCuit}}</td>
              <td>{{data.customerName}}</td> 
              <td [nzAlign]="'right'"><b>{{ this.currencyFormat(data.total) }}</b></td>
              <td [nzAlign]="'center'">{{ this.getInvoiceType(data.type) }}</td>                 
              <td style="text-align: center;">
                   <a>
                    <i nz-icon nzType="eye" nzTheme="outline" style="font-size: 16px;" (click)="onDoubleClicked(data)"></i>
                  </a>                   
                </td>         
            </tr>
          </tbody>
        </nz-table>
       </div>
    </nz-content>
  </nz-layout>