<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado de Comprobantes de Venta</nz-page-header-title>
    <nz-page-header-extra>
      <button *authPermission="[permissions.CreateInvoice]" nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary"
        nzShape="circle" routerLink="/home/invoices/invoices-sale/new">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <nz-collapse>
      <nz-collapse-panel nzSize="small" nzHeader="Filtros">
        <form nz-form style="margin-left: 13px;">
          <div nz-row >
            <div nz-col nzSpan="14" >
              <nz-form-item style="margin-left: 15px;">
                <nz-form-label>CUIT</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzSuffix]="clearQuery" style="width: 100%;">
                    <input [ngModelOptions]="{ standalone: true }" type="text" placeholder="Ingrese CUIT/CUIL o DNI" nz-input
                      (keydown.enter)="search()" [(ngModel)]="SpecificFilter.filter.cuit" />
                  </nz-input-group>

                  <ng-template #clearQuery>
                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="SpecificFilter.filter.cuit" (click)="SpecificFilter.filter.cuit = ''; search()"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
              <nz-form-item style="margin-left: 25px;">
                <nz-form-label>Nro de comprobante</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzSuffix]="clearQuery" style="width: 100%;">
                    <input [ngModelOptions]="{ standalone: true }" type="number" placeholder="Ingrese numero de factura" nz-input
                      (keydown.enter)="search()" [(ngModel)]="SpecificFilter.filter.number" min="0"/>
                  </nz-input-group>

                  <ng-template #clearQuery>
                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="SpecificFilter.filter.number" (click)="SpecificFilter.filter.number = 0; search()"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- Tabla -->

    <!--   <div > -->
    <div class="table" (scroll)="onScroll($event)">
      <nz-table class="tabla" nzShowSizeChanger [nzData]="invoicesList" nzBordered="false" [nzSize]="'small'"
        [nzLoading]="loading" [nzPaginationType]="'small'" nzShowPagination="false">
        <thead>
          <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th>Cuit/Cuil</th>
            <th>Nombre</th>
            <th [nzAlign]="'center'">Total</th>
            <th [nzAlign]="'center'">Tipo</th>
            <th nzWidth="200px" [nzAlign]="'center'">Notas</th>
            <th [nzAlign]="'center'">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr id="{{ i }}" *ngFor="let data of invoicesList; let i = index" class="small-text" tabindex="-1"
            (click)="onClick(data, i)" (keydown)="myNavegation($event)" [style.background-color]="
              data === selectedInvoice ? 'lightblue' : ''
            " (keydown.enter)="onEnter($event)" (dblclick)="onDoubleClicked(data)">
            <td>{{ data.invoiceNumber }}</td>
            <td>{{ this.formaterDate(data.dateTime) }}</td>
            <td>{{ data.customerCuit | cuit}}</td>
            <td>{{ data.customerName }}</td>
            <td [nzAlign]="'right'">
              <b>{{ this.currencyFormat(data.total) }}</b>
            </td>
            <td [nzAlign]="'center'">{{ this.getInvoiceType(data.type) }}</td>
            <ng-container>
              <td style="text-align: center;">
                <a>
                  <button nz-button nzType="primary" nzSize="small"
                    style="background-color: rgb(3, 155, 3); margin-right: 20px; border-color:rgb(3, 155, 3) ;"
                    routerLink="/home/notes/credit" [queryParams]="{
                      id: data.id
                    }">
                    Crédito
                  </button>
                </a>
                <button nz-button nzSize="small" nzType="primary" routerLink="/home/notes/debit" [queryParams]="{
                    id: data.id
                  }">
                  Débito
                </button>
              </td>
            </ng-container>
            <td style="text-align: center">
              <a>
                <i nz-icon nzType="eye" nzTheme="outline" style="font-size: 16px" (click)="onDoubleClicked(data)"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>