.factA{
    background-color: var(--backg-A);
  }
  .factB{
    background-color: var(--backg-B);
  }
  .factC{
    background-color: var(--backg-C);
  }
 
.item-bold[nz-descriptions-item] {
  font-weight: bold !important;
}

.ant-descriptions-item-container{
  font-weight: bold !important;
}