<app-header-op-buttons
  #header
  (onCloseClick)="close()"
  [hideClose]="true"
  [hideUpdate]="true"
  [hideSave]="true"
  [hideBack]="true"
  [title]="'Comprobantes de Compra'"
  [iconBack]="'rollback'"
  [iconTitle]="'container'"
>
</app-header-op-buttons>
<nz-collapse class="{{this.tipo}}">
  <nz-collapse-panel nzHeader="Datos Comprobante" [nzActive]="true">
    <nz-descriptions nzSize="small" [nzColumn]="3"  style="margin-left: 100px; padding: 5px;">
      <nz-descriptions-item nzTitle=" * Fecha">
        <a>{{ dateTime ? (dateTime | date : "YYYY-MM-dd") : "N/A" }} </a>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle=" * Tipo" >
        <nz-page-header-tags>
          <nz-tag [nzColor]="'blue'">{{ this.invoiceType(type) }}</nz-tag>
        </nz-page-header-tags>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="* Número de Refencia" >
        {{  this.receiptNumber}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle=" * Cliente" >
        {{ supplierName }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle=" * Cuit" >
        {{ supplierCuit }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle=" * Dirección" >
        {{ supplierAddress }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle=" * Observación">
        {{ observation }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse class="{{this.tipo}}">
  <nz-collapse-panel
    nzHeader="Detalle Comprobante"
    [nzActive]="true"
    [nzShowArrow]="true"
  >
    <nz-content>
      <nz-table [nzBordered]="true" nzTemplateMode [nzSize]="'small'">
        <thead>
          <tr>
            <th>Código</th>
            <th>Código Interno</th>
            <th>Producto</th>
            <th [nzAlign]="'center'">Cantidad</th>
            <th [nzAlign]="'center'">Precio Unidad</th>
            <th [nzAlign]="'center'">SubTotal</th>
            <th>Iva</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of receiptDetails">
            <td>{{ data.productCode }}</td>
            <td>{{ data.productId }}</td>
            <td>{{ data.productName }}</td>
            <td [nzAlign]="'right'">{{ data.quantity }}</td>
            <td [nzAlign]="'right'">{{ this.currencyFormat(data.price) }}</td>
            <td [nzAlign]="'right'">
              {{ this.currencyFormat(data.quantity * data.price) }}
            </td>
            <td>{{ data.iva }}</td>
          </tr>
        </tbody>
        <tfoot class="{{this.tipo}}">
          <tr>
            <td colspan="2" *ngIf="type == 1; else elseBlock">
              <b>Iva </b>
              <span style="color: blue"
                >{{ this.currencyFormat(ivaTotal) }}
              </span>
            </td>
            <td colspan="1">
              <b>Conc. No Gravado </b
              ><span style="color: blue"
                >{{ this.currencyFormat(concNoGravado) }}
              </span>
            </td>
            <td colspan="1">
              <b>Perc. Iva </b
              ><span style="color: blue"
                >{{ this.currencyFormat(percIva) }}
              </span>
            </td>
            <td colspan="1">
              <b>Perc. Ing. Brutos </b
              ><span style="color: blue"
                >{{ this.currencyFormat(percIngBrutos) }}
              </span>
            </td>
            <td colspan="1" *ngIf="type == 1; else elseBlock2">
              <b>SubTotal </b>
              <span style="color: blue">{{ this.currencyFormat(subTotal) }} </span>
            </td>
            <td colspan="1">
              <b>Total </b
              ><span style="color: blue"
                >{{ this.currencyFormat(total) }}
              </span>
            </td>
            <ng-template #elseBlock>
              <td colspan="2"></td>
            </ng-template>
            <ng-template #elseBlock2>
              <td></td>
            </ng-template>
          </tr>
        </tfoot>
      </nz-table>
    </nz-content>
  </nz-collapse-panel>
</nz-collapse>
