.factA {
  background-color: var(--backg-A);
}

.factB {
  background-color: var(--backg-B);
}

.factC {
  background-color: var(--backg-C);
}


.tfoot-container {
  display: grid;
  background-color: white;
  border: 2px solid aquamarine;
  width: fit-content;
  padding: 5px 5px;

}

.contBoxGree {
  display: grid;
  justify-items: end;
  margin-top: 20px;
}