<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Listado Nota de Crédito</nz-page-header-title>
    <nz-page-header-extra>
      <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary" nzShape="circle" routerLink="/notes/credit">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-collapse>
    <nz-collapse-panel nzSize="small" nzHeader="Filtros">
      <div nz-row style="margin-left: 13px;">
      <!--   <div nz-col nzSpan="14"> -->
          <nz-form-item style="margin-left: 15px;">
            <nz-form-label>CUIT</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="clearQuery">
                <input [ngModelOptions]="{ standalone: true }" type="int" placeholder="Ingrese CUIT/CUIL o DNI" nz-input
                  (keydown.enter)="search()" [(ngModel)]="SpecificFilter.filter.cuit" />
              </nz-input-group>
              <ng-template #clearQuery>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                  *ngIf="SpecificFilter.filter.cuit" (click)="SpecificFilter.filter.cuit= ''; search()"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
       <!--  </div>
          <div nz-col nzSpan="8"> -->
          <nz-form-item style="margin-left: 25px;">
            <nz-form-label>Nro de comprobante</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="clearQuery">
                <input [ngModelOptions]="{ standalone: true }" type="number" placeholder="Ingrese número de comprobante"
                  nz-input (keydown.enter)="search()" [(ngModel)]="SpecificFilter.filter.number" min="0" />
              </nz-input-group>
              <ng-template #clearQuery>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                  *ngIf="SpecificFilter.filter.number" (click)="SpecificFilter.filter.number = 0; search()"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-left: 55px;">
            <nz-form-label>Fecha</nz-form-label>
            <nz-form-control >
              <nz-date-picker
              nzFormat="dd/MM/yyyy"
                [(ngModel)]="SpecificFilter.filter.date"
                name="date"
                [nzPlaceHolder]="'Fecha'"       
                (ngModelChange)="dateChange($event)"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
      <!-- </div>
      <div style="margin-left: 15px;"> -->
        <button nz-button nzType="primary" nzSpam="18" style="margin-left: 90px;" (click)="search()">
          <i nz-icon nzType="search"></i>
          Buscar
        </button>
        </div>
     <!--  </div> -->
    </nz-collapse-panel>
  </nz-collapse>

  <nz-divider style="margin:auto"></nz-divider>

  <div class="table" (scroll)="onScroll($event)">
    <nz-table class="tabla" nzShowSizeChanger nzBordered="false" [nzData]="creditMemoList" [nzSize]="'small'"
      [nzLoading]="loading" [nzPaginationType]="'small'" nzShowPagination="false">
      <thead>
        <tr>
          <th>Número</th>
          <th>Fecha</th>
          <th>Cuit/Cuil</th>
          <th>Nombre</th>
          <th [nzAlign]="'center'">Total</th>
          <th [nzAlign]="'center'">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr class="small-text" tabindex="-1" *ngFor="let data of creditMemoList; let i = index"
          (click)="onClick(data, i)" (keydown)="myNavegation($event)" [style.background-color]="
             data === selectedCreditMemo ? 'lightblue' : ''
            "  (dblclick)="onDoubleClick(data)">
          <td>{{data.creditMemoNumber}}</td>
          <td>{{this.formaterDate(data.dateTime)}}</td>
          <td>{{data.customerCuit | cuit}}</td>
          <td>{{data.customerName}}</td>
          <td [nzAlign]="'center'" style="font-weight: bold;">{{ this.currencyFormat( data.total)}}</td>
          <td style="text-align: center">
            <a>
              <i nz-icon nzType="eye" nzTheme="outline" style="font-size: 16px" (click)="onDoubleClicked(data)"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-layout>