t<app-header-op-buttons 
#header 
[btnCerrarText]="'Cerrar'" 
[btnPrintText]="'ImprimirPDF'" 
[hideSave]="true"
[hideBack]="true" 
[hideFacturaPro]="true"
[hideCerrar]="false" 
[hidePrint]="false" 
[iconPrint]="'file-excel'" 
[hideTag]="true"
[title]="'Recibo'" 
(onCerrarClick)="closeWindow()" 
(click)="imprimir()">

</app-header-op-buttons>

<div #pdftable id="pdf" class="todo">
 
    <nz-row id="contenedor">
      <nz-col>
        <div id="izquierdo">
          <h1>Refrigeracion Dante</h1>
          <p>Reparación de Heladeras Comerciales, Familiares y Camaras Frigorificas</p>
          <h3>De : Dante Cesar Quercetti</h3>
          <p><strong>Pirovano 375 - Gral. San Martin (Mza.)</strong></p>
          <hr />
          <p>IVA RESPONSABLE INSCRIPTO</p>
          <p><strong>CUIT: 20-08159465-2</strong></p>
        </div>
      </nz-col>
  
      <nz-col>
        <div id="derecho">
          <h2>Recibo</h2>
          <h5>DOCUMENTO NO VÁLIDO COMO FACTURA</h5>
          <h3>Numero: {{this.id| number: '8.0-0'|noComma}}</h3>
          <h2><strong>{{this.dateTime | date: 'dd/MM/yyyy'}}</strong></h2>
          <br>
        </div>
  
      </nz-col>
  
  
    </nz-row>
    
    <nz-col>
      <div id="medio">
        <h3>Cliente: {{this.customerName}}</h3>
        <h3>Domicilio: {{this.customerAddress}}</h3>
      </div>
    </nz-col>
  
   
  
    <nz-table [nzBordered]="true" nzTemplateMode  class="tabla"> 
        <div nzSize="middle" style="margin-left: 100px; padding: 5px; font-size: 55px;">
            <th >
             Recibi(mos) la suma de  
            </th>
            <td> {{ currencyFormat(this.cash)}}</td></div>
            <div nzSize="middle" style="margin-left: 100px; padding: 5px; font-size: 55px;">
              <th  >
              En concepto de 
            </th>
            <td>{{this.concept}}</td>  
            </div>
          
            <div nz-row *ngFor="let data of quittanceDetail" style="margin-left: 106px; text-align: center;" >
              <div >
                <th> Cheque n°:</th>
                <td>{{data.checkNumber}}</td> 
              </div>
                  <div style="margin-left: 50px;">
                    <th> Banco:</th>
                <td>{{data.bank}}</td> 
                  </div>       
                   <div style="margin-left: 50px;">
                    <th> Total:</th>
                <td>{{this.currencyFormat(data.total)}}</td> 
                   </div>  
                
            </div>
        
          <nz-row>
            <nz-col><div id="firma">
    
              <p>━━━━━━━━━━━━━━━━━━━━━━━━━</p>
              <b > <strong>Firma</strong></b>
            </div>
            </nz-col>
          </nz-row>
          
         
      </nz-table> 


 

      
    



</div>

