<form nz-form [formGroup]="form" (ngSubmit)="guardar()">
  <div nz-row nzJustify="center">

    <nz-form-item>
      <nz-form-label [nzSm]="12" nzRequired nzFor="quantity">Cantidad
      </nz-form-label>
      <nz-input-number formControlName="quantity" id="quantity" [nzMin]="0" [nzMax]="100000"></nz-input-number>
    </nz-form-item>

  </div>

  <div nz-row nzJustify="center">

    <button nz-button nzSize="small" nzType="primary">
      Aceptar
    </button>

    <button nz-button nzSize="small" nzType="primary" nzDanger (click)="cancelar()">Cancelar</button>

  </div>

</form>