<nz-page-header class="list-header">
  <nz-page-header-title> <i nz-icon nzType="container" nzTheme="outline"  style="color: #36cfc9;"></i> Remitos</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button (click)="direction()" type="submit" nzSize="default"><i nz-icon nzType="rollback"
        nzTheme="outline"></i>Volver</button>
  </nz-page-header-extra>
</nz-page-header>

<!-- Encabezado de la Factura -->
<form nz-form [formGroup]="formDeliveryNotes">
  <nz-collapse>
    <nz-collapse-panel nzHeader="Encabezado" [nzActive]="true" [nzShowArrow]="true" style="font-weight: bold;" >
      <nz-content>
        <div nz-row nzJustify="center" style="margin: 20px;" >
          <div nz-col class="gutter-row" [nzSpan]="4" style="margin-right: 5px; margin-left: 5px;">
            <nz-form-item>
              <nz-form-label nzFor="fecha">Fecha</nz-form-label >
              <nz-form-control id="fecha">
                <b>
                  {{ startDate ? (startDate | date : "YYYY-MM-dd") : "N/A" }}
                </b>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col class="gutter-row" style="margin-right: 14px">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="statusId">Estado</nz-form-label>
              <nz-form-control>
                <nz-select id="statusId" formControlName="statusId" [nzOptions]="type" nzWidth="60px"
                  [nzDisabled]="id == 0 ? true : viewOrder">
                </nz-select>               
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nzSpan="18" style="width: 240px">
            <nz-form-item>
              <nz-form-label nzRequired for="paid">Pagado
              </nz-form-label>
              <nz-switch class="mb-2" formControlName="paid" (ngModelChange)="selectPaid($event)"
                nzCheckedChildren="Si " nzUnCheckedChildren="No" [ngModel]="switchValue"
                [nzDisabled]="isDisabledPaid" id="paid"></nz-switch>
            </nz-form-item>
          </div>
        </div>

        <!-- Datos del Cliente -->
        <nz-divider nzText="Cliente" nzOrientation="left" style="margin-top: 0; text-decoration: underline;"></nz-divider>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="supplierName">Razón Social-Nombre
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="14" [nzErrorTip]="cuit">
            <input nz-input nzSize="small" formControlName="supplierName" id="supplierName"/>
          </nz-form-control>
          <!-- Boton que abre el buscador de Cliente en drawer -->
          <form nz-form [formGroup]="formSupplierSearch">
            <div style="margin: 3px">
              <button nz-button nzSize="small" nzType="primary" (click)="openComponentCustomer()" class="ml-5"
                [disabled]="isDisabled">
                <i nz-icon nzType="search" nzTheme="outline"></i>Buscar
              </button>
            </div>
          </form>
        </nz-form-item>

        
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="supplierCuit">Cuit - Cuil
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input maxlength="250" nzSize="small" formControlName="supplierCuit" id="supplierCuit"/>
          </nz-form-control>
        </nz-form-item>
        <ng-template #cuit let-control>
          <ng-container *ngIf="control.hasError('required')">
            Debe ingresar un cuit valido.
          </ng-container>
          <ng-container *ngIf="!control.hasError('required') && control.hasError('pattern')">
            El cuit ingresado debe tener 11 caracteres numericos.
          </ng-container>
        </ng-template>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="supplierAddress">Domicilio
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input nzSize="small" maxlength="250" formControlName="supplierAddress" id="supplierAddress"/>
          </nz-form-control>
        </nz-form-item>

        <!-- Buscador de Productos -->
        <nz-divider nzText="Producto" nzOrientation="left" style="margin-top: 0; text-decoration: underline;"></nz-divider>

        <form nz-form [formGroup]="formProductSearch">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="productSearchFilter">Búsqueda de Producto
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="14">
              <nz-input-group [nzSuffix]="clearQuery">
                <input nz-input formControlName="productSearchFilter"
                  placeholder="Ingrese producto" nzSize="small" autocomplete="off"
                  (keydown.enter)="searchProduct(); $event.preventDefault()" id="productSearchFilter"/>
              </nz-input-group>

              <ng-template #clearQuery>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="this.formProductSearch.controls['productSearchFilter'].value !== '' " (click)="this.formProductSearch.controls['productSearchFilter'].setValue('')" ></i>
              </ng-template>
            </nz-form-control>
            <div nz-col style="margin: 3px">
              <button nz-button nzSize="small" nzType="primary" (click)="openComponentProduct()" class="ml-5"
                [disabled]="isDisabled">
                <i nz-icon nzType="search" nzTheme="outline"></i> Buscar
              </button>
            </div>
          </nz-form-item>

        </form>
        <br />
        <!-- Observaciones-->
        <nz-divider nzText="Observaciones" nzOrientation="left" style="margin-top: 0; text-decoration: underline;"></nz-divider>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="observation">Observación
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input formControlName="observation" nz-input id="observation" maxlength="250" autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>
</form>

<!-- Tabla Detalle -->
<nz-collapse>
  <nz-collapse-panel nzHeader="Detalle Remito" [nzActive]="true" [nzShowArrow]="true" style="font-weight: bold;">
    <nz-content>
      <nz-table [nzBordered]="true" nzShowPagination="false" style="overflow: auto" [nzData]="deliveryNotesDetailsList"
        [nzLoading]="loading" nzSize="small">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unidad</th>
            <th>SubTotal</th>
            <th *ngIf="this.edit == false">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of deliveryNotesDetailsList" class="small-text">
            <td nzBreakWord>
              <div
                class="editable-cell"
                [hidden]="editIdProductName === data.ownCode"
                (click)="startEditProductName(data.ownCode)"
              >{{ data.productName }}
              </div>
              <input nz-input
                id="productName{{data.ownCode}}"
                name="productName{{data.ownCode}}"
                [hidden]="editIdProductName !== data.ownCode"
                [(ngModel)]="data.productName"
                (ngModelChange)="changeProductName($event)"
                (blur)="stopEditProductName()"
                autocomplete="off"
              /></td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.productId" (click)="startEdit(data.productId)">
                {{ data.quantity }}
              </div>
              <nz-input-number [hidden]="editId !== data.productId" [nzMin]="1" [nzMax]="1000"
                [(ngModel)]="data.quantity" [disabled]="isDisabled" (nzBlur)="stopEdit()"
                (ngModelChange)="changeQuantity($event)"></nz-input-number>
            </td>
           <td [nzAlign]="'right'">
              <div class="editable-cell"
              [hidden]="editIdProductPrice === data.ownCode"
              (click)="startEditProductPrice(data.ownCode)">
              {{ this.currencyFormat(data.price) }}
              </div>
              <nz-input-number
                [hidden]="editIdProductPrice !== data.ownCode"
                [nzMin]="0"
                [(ngModel)]="data.price"
                (blur)="stopEditProductPrice()"
                (ngModelChange)="changeProductPrice($event || 0)"
              ></nz-input-number>
            </td>
            <td [nzAlign]="'right'"> {{this.currencyFormat(data.subTotal)}}</td>
            <td *ngIf="this.edit == false" style="text-align: center">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                  <nz-divider nzType="vertical"></nz-divider>
                </ng-template>
                <a *nzSpaceItem>
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    class="disabled-icon" [ngClass]="{'disabled': isDisabled}" [nzTwotoneColor]="'#FF0000'"
                    (click)="popup.showDeleteConfirmation(data.productId)"></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
        <tfoot style="background-color: #fafafa">
          <tr>
            <td colspan="3"></td>

            <td colspan="2" [nzAlign]="'right'">
              <button id="actualizarbutton" nz-button nzSize="large" style="background-color: #24ce41"
                (click)="msjConfirmOk()" [disabled]="isDisabledGrabar">
                <i nz-icon nzType="save" nzTheme="outline"></i>Grabar
              </button>
            </td>
          </tr>
        </tfoot>
      </nz-table>
    </nz-content>
  </nz-collapse-panel>
</nz-collapse>

<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro que desea eliminar el producto seleccionado?'" [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()">
</app-popup-confirmation>
<app-popup-confirmation #pop [title]="'Confirmar Guardado de comprobante'"
  [header]="'¿Está seguro que desea guardar el comprobante?'" [message]="'Esta acción no se puede revertir'"
  (handleOk)="save()">
</app-popup-confirmation>