<div id="contenedor">
  <table align="let" BORDER style="width: 100%;">
    <div id="izquierdo">
      <h1>Refrigeracion  Dante</h1>
      <h3>Reparación de Heladeras Comerciales, Familiares y Camaras Frigorificas</h3>
      <h3>De : Dante Cesar Quercetti</h3>
      <p><strong>Pirovano 375 - Gral. San Martin (Mza.)</strong></p>
      <hr/>

      <p><strong>CUIT: 20-08159465-2</strong></p>
    </div>
    
 
      <div id="derecho" >
        <h1 >Presupuesto</h1>
        <h3>DOCUMENTO NO VÁLIDO COMO FACTURA</h3>
        <h3>Numero de presupuesto: {{this.budgetNumber | number: '8.0-0'}}</h3>
        <h2><strong>{{this.dateTime | date: 'dd/MM/yyyy'}}</strong></h2>
      </div>
    
  </table>
      
  <br>
  <table BORDER style="width: 100%; ">
    <div id="medio">
      <h3>Cliente: {{this.customerName}}</h3>
      <h3>Domicilio: {{this.customerAddress}}</h3>
  </div>
  </table>
  
  <br>
  

  <nz-content >
    <nz-table [nzBordered]="true" nzTemplateMode [nzSize]="'small'" >
      <thead>
        <tr>
          <th style="background-color: rgb(194, 194, 194);">Detalle</th>
  
          <th [nzAlign]="'center'" style="background-color: rgb(194, 194, 194);">Cantidad</th>
          <th [nzAlign]="'center'" style="background-color: rgb(194, 194, 194);">Total</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let budget of budgetDetail">
          <td>{{ budget.productName }}</td>
           <td >{{ budget.quantity }}</td>
          <td > {{ this.currencyFormat(budget.quantity * budget.price) }}</td>
          
      
        </tr>
      </tbody>
    </nz-table>
  </nz-content> 
<br>


  <table align="center" BORDER style="width: 100%;">
    <div id="firma">
   
      <p >━━━━━━━━━━━━━━━━━━━━━━━━━</p>											
      <b> <strong>Firma</strong></b>
    </div>

    <div id="derecho" style="text-align: right;">
        <b>Total </b>
        <b style="color: red ">{{ this.currencyFormat(this.total) }}</b>
    </div>
    

  </table>
  

</div>


