<nz-page-header class="list-header">
  <nz-page-header-title>
    <i nz-icon nzType="container" nzTheme="outline" style="color: #52c41a;"></i> Comprobante de Venta</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button (click)="direction()" type="submit" nzSize="default" >
      <i nz-icon nzType="rollback" nzTheme="outline"></i>Volver
    </button>
  </nz-page-header-extra>
</nz-page-header>

<!-- Encabezado de la Factura -->
<form nz-form [formGroup]="formInvoice">
  <nz-collapse>
    <nz-collapse-panel
      nzHeader="Encabezado"
      [nzActive]="true"
      [nzShowArrow]="true"
      style="font-weight: bold;"
    >
      <nz-content> 
        <div nz-row nzJustify="center">
          <div style=" margin-right: 20px">
            <nz-form-item>
              <nz-form-label >Fecha</nz-form-label>
              <nz-form-control>
                <b>
                  {{ startDate ? (startDate | date : "YYYY-MM-dd") : "N/A" }}
                </b>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col class="gutter-row" style="margin-right: 20px">
            <nz-form-item>
              <nz-form-label>Tipo de Factura</nz-form-label>
              <nz-form-control>
                <nz-select
                  id="type"
                  formControlName="type"
                  [nzOptions]="invoiceType"
                  (ngModelChange)="typeSelectedChange($event)"
                >
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col class="gutter-row" [nzSpan]="6" style="margin-right: 20px">
            <nz-form-item>
              <nz-form-label>Cond. Iva</nz-form-label>
              <nz-form-control>
                <nz-select
                  id="ivaCondition"
                  formControlName="ivaCondition"
                  [nzOptions]="ivaCondition"
                  [nzDisabled]="isConditionDisabled"
                >
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          
          <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Forma de Pago</nz-form-label>
              <nz-form-control>
                <nz-select
                  id="payment"
                  formControlName="payment"
                  [nzOptions]="payment"
                  (ngModelChange)="paymentSelectedChange($event)"
                >
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>

        <!-- Datos del Cliente -->
        <nz-divider
          nzText="Cliente"
          nzOrientation="left"
          style="margin-top: 0; text-decoration: underline;"
        ></nz-divider>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="customerCuit"
            >Cuit - Cuil
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="14" [nzErrorTip]="cuit">
            <input
              nz-input
              (keydown.enter)="searchCustomer(); $event.preventDefault()"
              nzSize="small"
              maxlength="11"
              formControlName="customerCuit" id="customerCuit"
            />
          </nz-form-control>
          <ng-template #cuit let-control>
            <ng-container *ngIf="control.hasError('required')"> 
              Debe ingresar un cuit valido.
            </ng-container>
            <ng-container *ngIf="!control.hasError('required') && control.hasError('pattern')"> 
              El cuit ingresado debe tener 11 caracteres numericos.
            </ng-container>
          </ng-template>
          <!-- Boton que abre el buscador de CLiente en drawer -->
          <form nz-form [formGroup]="formCustomerSearch">
            <div style="margin: 3px">
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="openComponentCustomer()"
                class="ml-5"
              >
                <i nz-icon nzType="search" nzTheme="outline"></i>Buscar
              </button>
            </div>
          </form>
        </nz-form-item>

         <nz-form-item *ngIf="typeSelectedId == 2 && formInvoice.get('ivaCondition')?.value == eIvaCondition.ConsFinal">
           <nz-form-label [nzSm]="6" [nzXs]="14" nzFor="customerDni" 
              >Dni
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="14" [nzErrorTip]="dni">
            <input
              nz-input
              maxlength="8"
              nzSize="small"
              formControlName="customerDni" id="customerDni"
              />
            </nz-form-control>
              <nz-switch style="margin-left: 5px;" (ngModelChange)="select($event)" [(ngModel)]="selectedDni"
               nzCheckedChildren="seleccionado" nzUnCheckedChildren="No seleccionado" [ngModelOptions]="{standalone: true}"
            ></nz-switch>
             <ng-template #dni let-control>
            <ng-container *ngIf="control.hasError('minlength')"> 
              Debe ingresar un dni valido, 8 digitos.
            </ng-container>            
          </ng-template>
      </nz-form-item>
      
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="customerName"
            >Razón Social - Nombre
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input
              nz-input
              maxlength="250"
              nzSize="small"
              formControlName="customerName" id="customerName"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address"
            >Domicilio
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input
              nz-input
              formControlName="address"
              nzSize="small"
              maxlength="250" id="address"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Buscador de Productos -->
        <nz-divider nzText="Producto" nzOrientation="left" style="margin-top: 0; text-decoration: underline;"></nz-divider >

        <form nz-form [formGroup]="formProductSearch">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="productSearchFilter">Búsqueda de producto
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="14">
              <nz-input-group [nzSuffix]="clearQuery">
                <input nz-input formControlName="productSearchFilter" id="productSearchFilter"
                  placeholder="Ingrese producto" nzSize="small"
                  (keydown.enter)="searchProduct(); $event.preventDefault()" autocomplete="off" />

              </nz-input-group>

              <ng-template #clearQuery>
                <i nz-icon class="ant-input-clear-icon" 
                nzTheme="fill" 
                nzType="close-circle"
                *ngIf="this.formProductSearch.controls['productSearchFilter'].value !== '' "
             (click)=" this.formProductSearch.controls[ 'productSearchFilter'].setValue('')
          "></i>
              </ng-template>
            </nz-form-control>
            <div nz-col style="margin: 3px">
              <button nz-button nzSize="small" nzType="primary" (click)="openComponentProduct()" class="ml-5">
                <i nz-icon nzType="search" nzTheme="outline"></i> Buscar
              </button>
            </div>
          </nz-form-item>
        </form>

        <br />
         <!-- Observaciones-->
         <nz-divider
         nzText="Observaciones"
         nzOrientation="left"
         style="margin-top: 0; text-decoration: underline;"
       ></nz-divider>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="observation"
            >Observación
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input
              formControlName="observation"
              nz-input
              id="observation"
              maxlength="250" autocomplete="off"
            />
          </nz-form-control>
        </nz-form-item>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>
</form>

<!-- Tabla Detalle -->
<nz-collapse>
  <nz-collapse-panel nzHeader="Detalle" [nzActive]="true" [nzShowArrow]="true" style="font-weight: bold;">
    <nz-content>
      <nz-table
        [nzBordered]="true"
        [nzData]="invoiceDetailsList"
        nzShowPagination="false"
        style="overflow: auto"
        [nzLoading]="isLoading"
      >
        <thead>
          <tr>
            <th></th>
            <th>Código</th>
            <th>Código Interno</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unidad</th>
            <th>SubTotal</th>
            <th [nzAlign]="'center'" nzWidth="90px">Iva</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of invoiceDetailsList" class="small-text">
            <td>
              <i
                nz-icon
                nzType="exclamation-circle"
                nzTheme="outline"
                *ngIf="data.stock === 0"
                [title]="'Este producto no cuenta con stock'"
                style="color: brown"
              ></i>
            </td>
            <td>{{ data.code }}</td>
            <td >
              <span *ngIf="data.ownCode > 0; else isEditProduct">
                {{ data.ownCode }}
              </span>
              <ng-template #isEditProduct>                
              </ng-template>
            </td>
            <td nzBreakWord>
              <div
                class="editable-cell"
                [hidden]="editIdProductName === data.ownCode"
                (click)="startEditProductName(data.ownCode)"
              >{{ data.productName }}
              </div>
              <input nz-input
                id="productName{{data.ownCode}}"
                name="productName{{data.ownCode}}"
                [hidden]="editIdProductName !== data.ownCode"
                [(ngModel)]="data.productName"
                (ngModelChange)="changeProductName($event)"
                (blur)="stopEditProductName()"
                autocomplete="off"
              /></td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === data.ownCode"
                (click)="startEdit(data.ownCode)"
              >
                {{ data.quantity }}
              </div>
              <nz-input-number
                [hidden]="editId !== data.ownCode"
                [nzMin]="1"
                [nzMax]="10000"
                [(ngModel)]="data.quantity"
                (nzBlur)="stopEdit()"
                (ngModelChange)="changeQuantity($event)"
              ></nz-input-number>
            </td>
            <td [nzAlign]="'right'">
              <div class="editable-cell"
              [hidden]="editIdProductPrice === data.ownCode"
              (click)="startEditProductPrice(data.ownCode)">
              {{ this.currencyFormat(data.price) }}
              </div>
              <nz-input-number
                [hidden]="editIdProductPrice !== data.ownCode"
                [nzMin]="0"
                [(ngModel)]="data.price"
                (nzBlur)="stopEditProductPrice()"
                (ngModelChange)="changeProductPrice($event || 0)"
              ></nz-input-number>
            </td>
            <td [nzAlign]="'right'">
              {{ this.currencyFormat(data.subTotal) }}
            </td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editIdIva === data.productId"
                (click)="startEditIva(data.productId)"
              >
                {{ data.iva }}
              </div>
              <nz-select
                [hidden]="editIdIva !== data.productId"
                [nzOptions]="ivaType"
                (ngModelChange)="changeIvaValue($event, data.productId)"
                [(ngModel)]="data.iva"
                (nzBlur)="stopEditIva()"
              >
              </nz-select>
            </td>
            <td style="text-align: center">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                  <nz-divider nzType="vertical"></nz-divider>
                </ng-template>
                <a
                  *nzSpaceItem
                  (click)="popup.showDeleteConfirmation(data.ownCode)"
                >
                  <i
                    nz-tooltip
                    nzTooltipTitle="Eliminar"
                    nz-icon
                    nzType="delete"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'"
                  ></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
        <tfoot style="background-color: #fafafa">
          <tr>
            <td></td>
            <td *ngIf="!invoiceA"></td>
            <td *ngIf="!invoiceA"></td>
            <td colspan="2" *ngIf="invoiceA; else elseBlock">
              <b>Iva </b
              ><b style="color: red; font-size: 15px;" >{{
                this.currencyFormat(this.ivaTotal)
              }}</b>
            </td>
            <td colspan="2" *ngIf="invoiceA; else elseBlock">
              <b>SubTotal </b
              ><b style="color: red; font-size: 15px;">{{
                this.currencyFormat(this.subtotal)
              }}</b>
            </td>
            <td colspan="2">
              <b>Total </b
              ><b style="color: red ; font-size: 15px;">
                {{ this.currencyFormat(this.total) }}</b>
            </td>
            <td colspan="2" [nzAlign]="'right'">
              <button
              id="actualizarbutton"
              nz-button
              nzSize="large"
              style="background-color: #24ce41"
              (click)="msjConfirmOk()"
              >
              <i nz-icon nzType="save" nzTheme="outline"></i>Grabar
            </button>
          </td>
          <ng-template #elseBlock>
            <td colspan="1"></td>
          </ng-template>
          </tr>
        </tfoot>
      </nz-table>
    </nz-content>
  </nz-collapse-panel>
</nz-collapse>

<app-popup-confirmation
  #popup
  [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro que desea eliminar el producto seleccionado?'"
  [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()"
>
</app-popup-confirmation>
<app-popup-confirmation
  #pop
  [title]="'Confirmar Guardado de comprobante'"
  [header]="'¿Está seguro que desea guardar el comprobante?'"
  [message]="'Esta acción no se puede revertir'"
  (handleOk)="save()"
  [disabled]="isSaving"
>
</app-popup-confirmation>
