<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title
      >Listado de Comprobantes de Compra</nz-page-header-title
    >
    <nz-page-header-extra>
      <a routerLink="/home/invoices/receipt/new">
        <button
          *authPermission="[permissions.CreateInvoice]"
          nz-tooltip
          nzTooltipTitle="Nuevo"
          nz-button
          nzType="primary"
          nzShape="circle"
        >
          <i nz-icon nzType="plus" nzTheme="outline"></i></button
      ></a>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <nz-collapse>
      <nz-collapse-panel nzSize="small" nzHeader="Filtros">
        <form nz-form>
          <div nz-row [nzGutter]="[8, 1]">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label>Búsqueda</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzSuffix]="clearQuery"> </nz-input-group>

                  <ng-template #clearQuery>
                    <i
                      nz-icon
                      class="ant-input-clear-icon"
                      nzTheme="fill"
                      nzType="close-circle"
                    ></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- Tabla -->

    <!--   <div > -->
    <div class="table">
      <nz-table
        class="tabla"
        nzShowSizeChanger
        [nzData]="receiptList"
        nzBordered="false"
        [nzSize]="'small'"
        [nzLoading]="loading"
        [nzPaginationType]="'small'"
        nzShowPagination="false"
      >
        <thead>
          <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th>Cuit</th>
            <th>Nombre</th>
            <th [nzAlign]="'center'">Total</th>
            <th [nzAlign]="'center'">Tipo</th>
            <th [nzAlign]="'center'">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr class="small-text" tabindex="-1">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td [nzAlign]="'right'">
              <b></b>
            </td>
            <td [nzAlign]="'center'"></td>
            <td style="text-align: center">
              <a>
                <i
                  nz-icon
                  nzType="eye"
                  nzTheme="outline"
                  style="font-size: 16px"
                ></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>
