
nz-footer {
  text-align: center;
  background-color: white;
}
nz-page-header {
  height: auto;
  padding: 0 24px;
  width: auto;
  z-index: 2;
  overflow: auto;
}
.menu{
  margin-right: 100px;
  margin-top: 15px
}
