<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="../../../assets/img/logoSideBar.png" alt="logo" />
      <h1>Gestión de Stock</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Persona" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/users">Usuarios</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/customers">Clientes</a>
          </li>         
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/suppliers">Proveedores</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/categories">Categorías</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/brands">Marcas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Productos" nzIcon="tag">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/products/list">Productos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/products/updateprice">Actualizar Precio</a>
          </li>         
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Pedidos" nzIcon="shopping-cart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/orders">Pedidos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Comprobantes" nzIcon="file-excel">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/invoices">Comprobantes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Mi perfil" nzIcon="user">
        <ul>
          <li nz-menu-item (click)="logOut()" nzIcon="logout">
            Salir del Sistema
          </li>
        </ul>
      </li>
    </ul>
    <ul class="version" nz-menu></ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer > ©{{ getYear() }}</nz-footer>
  </nz-layout>
</nz-layout>
