<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>
      Listado de Categorias
    </nz-page-header-title>
    <nz-page-header-extra>
      <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary"
        nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"
        (click)="openComponentCategoryEdit()"  ></i></button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content>
   
      <!-- Busqueda -->
      <nz-collapse>
        <nz-collapse-panel nzSize="small" nzHeader="Filtros">
            <div nz-row [nzGutter]="[8,1]">
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>Búsqueda</nz-form-label>
                  <nz-form-control>                  
                    <nz-input-group [nzSuffix]="clearQuery">
                      <input [ngModelOptions]="{standalone: true}" type="text" placeholder="Ingrese descripción o Categoría" nz-input
                        (keydown.enter)="search()" [(ngModel)]="queryData.filter" />
                    </nz-input-group>
                    
                    <ng-template #clearQuery>
                      <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                        *ngIf="queryData.filter" (click)="queryData.filter = ''; search()"></i>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
        </nz-collapse-panel>
      </nz-collapse> 
    
    <!-- Tabla -->
    <div class="shadow"  (scroll)="onScroll($event)" >
      <nz-table class="table-list" #filterTable [nzData]="categoryList" nzBordered=true [nzLoading]="loading" 
      nzShowPagination="false">
        <thead>
          <tr>
            <th>#</th>
            <th style="text-align: center;">Descripción</th>
            <th style="text-align: center;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categoryList, let i= index" class="small-text" tabindex="-1" (keydown)="myNavegation($event) " [style.background-color]="category === selectedCategory ? 'lightblue' : ''" 
           (click)="onClick(category, i)" (dblclick)="onDoubleClicked(category)">
            <td>{{ category.id}}</td>
            <td>{{ category.description}}</td>
            <td style="text-align: center;">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                  <nz-divider nzType="vertical"></nz-divider>
                </ng-template>
                <a *nzSpaceItem routerLink="/home/categories/edit/{{category.id}}">
                  <i nz-tooltip nzTooltipTitle="Editar" nz-icon nzType="edit" style="font-size: 12px;"></i>
                </a> 
                <a *nzSpaceItem (click)="popup.showDeleteConfirmation(category.id)">
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'" style="font-size: 12px;"></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>

<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
    [header]="'¿Está seguro de que desea eliminar el usuario seleccionado?'"
    [message]="'Esta acción no se puede revertir'" (handleOk)="handleOk()">
  </app-popup-confirmation>