<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>
      Listado de Categorias
    </nz-page-header-title>
    <nz-page-header-extra>
      <a routerLink="/home/categories/new"> <button nz-tooltip nzTooltipTitle="Nuevo" nz-button nzType="primary"
          nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button></a>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content>
   
      <!-- Busqueda -->
      <nz-collapse>
        <nz-collapse-panel nzSize="small" nzHeader="Filtros">
          <form nz-form (ngSubmit)="search()">
            <div nz-row [nzGutter]="[8,1]">
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>Búsqueda</nz-form-label>
                  <nz-form-control>                  
                    <nz-input-group [nzSuffix]="clearQuery">
                      <input [ngModelOptions]="{standalone: true}" type="text" placeholder="Ingrese descripcion o Categoria" nz-input
                        (keydown.enter)="search()" [(ngModel)]="queryData.filter" />
                    </nz-input-group>
                    
                    <ng-template #clearQuery>
                      <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                        *ngIf="queryData.filter" (click)="queryData.filter = ''; search()"></i>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </nz-collapse-panel>
      </nz-collapse> 
    
    <!-- Tabla -->
    <div>
      <nz-table class="table-list" #filterTable [nzData]="categoryList" nzBordered=true [nzLoading]="loading" [nzTotal]="totalItems" 
      [nzPageIndex]="queryData.page + 1" [nzPageSize]="queryData.pageSize"
        [nzPaginationType]="'small'" [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)" >
        <thead>
          <tr>
            <th>#</th>
            <th style="text-align: center;">Descripcion</th>
            <th style="text-align: center;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categoryList" class="small-text">
            <td>{{ category.id}}</td>
            <td>{{ category.description}}</td>
            <td style="text-align: center;">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                  <nz-divider nzType="vertical"></nz-divider>
                </ng-template>
                <a *nzSpaceItem routerLink="/home/categories/edit/{{category.id}}">
                  <i nz-tooltip nzTooltipTitle="Editar" nz-icon nzType="edit" style="font-size: 12px;"></i>
                </a>
                <a *nzSpaceItem (click)="popup.showDeleteConfirmation(category.id)">
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'" style="font-size: 12px;"></i>
                </a>
              </nz-space>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>

<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
    [header]="'¿Está seguro de que desea eliminar el usuario seleccionado?'"
    [message]="'Esta acción no se puede revertir'" (handleOk)="handleOk()">
  </app-popup-confirmation>