<app-header-op-buttons
  #header
  (onCloseClick)="close()"
  [hideClose]="true"
  [hideUpdate]="true"
  [hideSave]="true"
  [hideBack]="true"
  [title]="'Nota de Crédito'"
  [iconBack]="'rollback'"
  [iconTitle]="'container'"
  nzTheme="'twotone'"
  [hideCerrar]="true"
  [hideFacturaPro]="true"
  [colors]="'#1890ff'"
  [hideReprint]="this.version == invoiceVersion.Default"
  [disabled]="this.integrationSuccess == false"
  [hideARCA]="this.version == invoiceVersion.Default"
  (onReprintClick)="popupReimprimir.showConfirmation()"
  [disabledEnviarARCA]="!this.isSendFacturaArcaDisabled()"
  (onEnviarEmailFacturaARCAClick)="this.popupEnviarFacturaARCA.showSendEmailConfirmation()"
>
</app-header-op-buttons>

<nz-collapse class="{{ this.tipo }}">
  <nz-collapse-panel nzHeader="Encabezado" [nzActive]="true">
    <div style="display: flex; flex-direction: row">
      <div style="flex: 1">
        <b><label>* Fecha: </label></b>
        <span>{{ dateTime ? (dateTime | date : "YYYY-MM-dd") : "N/A" }}</span>
        <br />
        <b><label>* Tipo: </label></b>
        <span>
          <nz-page-header-tags>
            <nz-tag [nzColor]="'blue'">{{ type| invoiceTypeFilter }}</nz-tag>
          </nz-page-header-tags>
        </span>
        <br />
        <ng-container *ngIf="edit == true">
          <b><label>* Factura Relacionada: </label></b>
          <span>{{ this.invoiceNumber }}</span>
          <br />
          <b><label>* Nro de Nota de Crédito: </label></b>
          <span>{{ this.creditMemoNumber }}</span>
          <br />
        </ng-container>
      </div>
      <div style="flex: 1">
        <ng-container *ngIf="edit == true">
          <b><label>* Cliente: </label></b>
          <span>{{ this.customerName }}</span>
          <br />
          <b><label>* Cuit: </label></b>
          <span>{{ this.customerCuit | cuit }}</span>
          <br />
        </ng-container>
      </div>
      <div style="flex: 1">
        <ng-container *ngIf="edit == true">
          <b><label>* Dirección: </label></b>
          <span>{{ this.customerAddress }}</span>
          <br />
          <b><label>* Observación: </label></b>
          <span>{{ this.observation }}</span>
          <br />
        </ng-container>
      </div>
    </div>
  </nz-collapse-panel>

    <nz-collapse>
      <nz-collapse-panel
        nzHeader="Detalle" 
        [nzActive]="true"
        [nzShowArrow]="true"
        class="{{ this.tipo }}"
        
      >
        <nz-content>
          <nz-table [nzBordered]="true" nzTemplateMode [nzSize]="'small'">
            <thead>
              <tr>
                <th>Código</th>
                <th>Código Interno</th>
                <th>Producto</th>
                <th [nzAlign]="'center'">Cantidad</th>
                <th [nzAlign]="'center'">Precio Unidad</th>
                <th [nzAlign]="'center'">SubTotal</th>
                <th>Iva</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of creditMemoDetail">
                <td>{{ data.productCode }}</td>
                <td> <span *ngIf="data.productId > 0; else isEditProduct">
                    {{ data.productId }}
                  </span>
                  <ng-template #isEditProduct>                
                  </ng-template>
                </td>
                <td>{{ data.productName }}</td>
                <td [nzAlign]="'right'">{{ data.quantity }}</td>
                <td [nzAlign]="'right'">
                  {{ this.currencyFormat(data.price) }}
                </td>
                <td [nzAlign]="'right'">
                  {{ this.currencyFormat(data.quantity * data.price) }}
                </td>
                <td>{{ data.iva }}</td>
              </tr>
            </tbody>
            <tfoot class="{{ this.tipo }}">
              <tr>
                <td colspan="8" [nzAlign]="'right'">
                  <b>Total </b
                  ><span style="color: blue; font-size: 15px ; font-weight: bold;"
                    >{{ this.currencyFormat(total) }}
                  </span>
                </td>
              </tr>
            </tfoot>
          </nz-table>
        </nz-content>
      </nz-collapse-panel>
    </nz-collapse>
     <nz-collapse *ngIf="this.version == invoiceVersion.Arca" >
    <nz-collapse-panel nzHeader="Log ARCA" [nzActive]="false" [nzShowArrow]="true" class="{{ this.tipo }}">
      <nz-content>
        <nz-table [nzBordered]="true" nzTemplateMode [nzSize]="'small'">
          <thead>
            <tr>
              <th>Envio</th>
              <th>Respuesta</th>
              <th>Correcto</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.invoiceLog">
              <td>
                <nz-collapse>
                  <nz-collapse-panel nzHeader="XML Original">
                    <pre style="max-width:300px; overflow-x:auto;">{{parserXML(item.request)}}</pre>
                  </nz-collapse-panel>
                </nz-collapse>
              </td>
              <td>
                <nz-collapse>
                  <nz-collapse-panel nzHeader="XML Original">
                    <pre style="max-width:300px; overflow-x:auto;">{{parserXML(item.response)}}</pre>
                  </nz-collapse-panel>
                </nz-collapse>
              </td>
              <td style="text-align: center;">
                <ng-container *ngIf="item.success; else errorIcon">
                  <i nz-icon nzType="check-circle" nzTheme="outline" style="color: green;"></i>
                </ng-container>
                <ng-template #errorIcon>
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red;"></i>
                </ng-template>
              </td>
              <td>{{item.createdOn | date : "YYYY-MM-dd hh:mm"}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>
  <app-popup-confirmation #popupReimprimir [title]="'Confirmar Reimpresion'"
    [header]="'¿Está seguro de que desea reimprimir este comprobante?'" (handleOk)="hideReprint()" [disabled]="loading">
  </app-popup-confirmation>

  <app-popup-confirmation #popupEnviarFacturaARCA [title]="'Enviar Factura por E-mail'"
    (handleSend)="sendEmail($event, this?.id)">
  </app-popup-confirmation>
 