.list-header {
    position: relative;
    height: 64px;
    padding: 10px;
    background: #fff;

    box-shadow: -1px 1px 5px 1px #a3a1a3;
    margin-bottom: 10px;
}

.content {
    background: #fff;
    margin: 20px;
    padding-bottom: 3px;
}

#actualizarbutton {
    transition-duration: 0.4s !important;
    color: white;
}

#actualizarbutton:hover {
    background-color: #4CAF50
        /* Green */
         !important;
    color: white;
    border-color: white;
}

#actualizarbutton:focus {
    background-color: #4CAF50
        /* Green */
         !important;
    color: white;
    border-color: white;
}